<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <title>Card Types</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="py-16 bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="container w-11/12 sm:w-9/12 mx-auto">
            <!-- Code block starts -->
            <dh-component>
                <div class="flex items-center justify-between w-full">
                    <div class="w-full shadow">
                        <div class="w-full h-64 border-b dark:bg-gray-800 bg-gray-100 dark:border-gray-700 border-gray-400 rounded-t"></div>
                        <div class="w-full h-24 rounded-b dark:bg-gray-800 bg-white"></div>
                    </div>
                </div>
            </dh-component>
            <!-- Code block ends -->
        </div>
    </body>
</html>
