<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Stats_2</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900" style="min-height: 500px">
        <div class="mx-auto container flex items-center justify-center h-full w-full py-8 px-4">
            <div class="w-96 bg-indigo-700 rounded-lg">
                <div class="inline-flex flex-col items-start justify-end px-10 py-6 w-full">
                    <div tabindex="0" class="focus:outline-none text-base sm:text-xl text-white">
                        <p>Total Invitations</p>
                        <p>Sent</p>
                    </div>
                    <p tabindex="0" class="focus:outline-none text-2xl sm:text-4xl text-center mt-4 text-white">12.6 K</p>
                    <div class="flex mt-8 justify-between w-full items-center">
                        <p tabindex="0" class="focus:outline-none text-xs sm:text-base font-normal leading-normal text-indigo-200">Invitations Pending</p>
                        <p tabindex="0" class="focus:outline-none text-sm sm:text-2xl font-black leading-normal text-right text-white">6.3 K</p>
                    </div>
                    <div class="flex mt-4 justify-between w-full items-center">
                        <p tabindex="0" class="focus:outline-none text-xs sm:text-base font-normal leading-normal text-indigo-200">Invitations Accepted</p>
                        <p tabindex="0" class="focus:outline-none text-sm sm:text-2xl font-black leading-normal text-right text-white">4.3 K</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
