<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <title>Notifications</title>

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="h-80 py-8">
            <div class="relative mx-auto flex justify-center sm:justify-end h-full">
                <!--code for notification starts-->
                <div role="alert" class="xl:w-5/12 mx-auto sm:mx-0 sm:w-2/3 md:w-3/5 justify-between w-11/12 bg-white shadow-lg rounded flex sm:flex-row flex-col absolute left-0 sm:left-auto right-0 sm:top-0 sm:mr-6 transition duration-150 ease-in-out dark:bg-gray-800" id="notification">
                    <div tabindex="0" aria-label="information icon" role="img" class="focus:outline-none sm:p-6 p-2 ml-4 sm:ml-0 mt-4 sm:mt-0 sm:px-6 bg-blue-700 flex items-center justify-center w-12 h-12 sm:h-auto sm:w-auto text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="currentColor">
                            <path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9a1 1 0 0 1 1 1v4a1 1 0 0 1-2 0v-4a1 1 0 0 1 1-1zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </div>
                    <div class="flex flex-col justify-center xl:-ml-4 px-4 xl:pl-4 sm:w-3/5 pt-4 sm:pb-4 pb-2">
                        <p tabindex="0" class="focus:outline-none text-lg text-gray-800 dark:text-gray-100 font-semibold pb-1">Update Available</p>
                        <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 font-normal">See what is new in Material OS 12.3, bug fixes, interface updrade and much more</p>
                    </div>
                    <div class="flex sm:flex-col sm:justify-center sm:border-l dark:border-gray-700 items-center border-gray-300 sm:w-1/5 ml-4 sm:ml-0">
                        <div class="sm:pt-4 pb-4 sm:border-b dark:border-gray-700 border-gray-300 sm:w-full flex sm:justify-center sm:px-4">
                            <span tabindex="0" class="focus:outline-none focus:text-blue-800 sm:text-sm text-xs text-blue-700 hover:underline font-bold mr-4 sm:mr-0 cursor-pointer">Details</span>
                        </div>

                        <div class="sm:pt-4 pb-4 flex sm:justify-center cursor-pointer w-full sm:px-4" onclick="closeModal()">
                            <span onkeypress="closeModal()" tabindex="0" class="focus:outline-none focus:text-gray-400 sm:text-sm hover:underline text-xs text-gray-600 dark:text-gray-400">Cancel</span>
                        </div>
                    </div>
                </div>
                <script>
                    var Notification = document.getElementById("notification");
                    Notification.style.transform = "translateX(150%)";
                    Notification.classList.remove("hidden");
                    Notification.style.transform = "translateX(0%)";
                    function closeModal() {
                        Notification.style.transform = "translateX(150%)";
                        Notification.classList.remove("hidden");
                        setTimeout(function () {
                            Notification.style.transform = "translateX(0%)";
                        }, 1000);
                    }
                </script>
                <script src="./index.js"></script>
                <!--code for notification ends-->
            </div>
        </div>
    </body>
</html>
