<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <link href="./assets/css/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="mx-auto container">
            <div class="w-full overflow-x-scroll xl:overflow-x-hidden py-24">
                <table class="min-w-full bg-white dark:bg-gray-800">
                    <thead>
                        <tr class="w-full h-16 bg-gray-800 dark:bg-gray-200 py-8">
                            <th class="rounded-l-lg pl-3 w-12 text-gray-300 dark:text-gray-800 font-normal text-left tracking-normal leading-4 opacity-0">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-3 icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                </div>
                            </th>
                            <th class="text-gray-300 dark:text-gray-800 font-normal pr-6 text-left tracking-normal leading-4">
                                <div class="bg-gray-800 dark:bg-gray-200 border rounded-sm border-gray-300 dark:border-gray-700 w-5 h-5 flex flex-shrink-0 justify-center items-center relative" onclick="checkAll()">
                                    <input placeholder="checkbox" type="checkbox" class="checkbox opacity-0 focus:opacity-100 absolute cursor-pointer w-full h-full" />
                                    <div class="check-icon hidden bg-yellow-400 text-white rounded-sm">
                                        <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg>
                                    </div>
                                </div>
                            </th>
                            <th class="text-gray-300 dark:text-gray-800 font-normal pr-6 text-left tracking-normal leading-4">Project Title</th>
                            <th onclick="goToTodos()" class="cursor-pointer text-gray-300 dark:text-gray-800 font-normal pr-6 text-left tracking-normal leading-4">Todos</th>
                            <th class="cursor-pointer text-gray-300 dark:text-gray-800 font-normal pr-6 text-left tracking-normal leading-4">Notes</th>
                            <th class="cursor-pointer text-gray-300 dark:text-gray-800 font-normal pr-6 text-left tracking-normal leading-4">Links</th>
                            <th class="cursor-pointer text-gray-300 dark:text-gray-800 font-normal pr-6 text-left tracking-normal leading-4">Files</th>
                            <th class="text-gray-300 dark:text-gray-800 font-normal pr-6 text-left tracking-normal leading-4">Collaborators</th>
                            <th class="rounded-r-lg text-gray-300 dark:text-gray-800 font-normal pr-8 text-left tracking-normal leading-4">More</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="h-20 border-gray-300 dark:border-gray-700 border-b">
                            <td class="pl-3 text-gray-600 dark:text-gray-400 font-normal text-left tracking-normal leading-4">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-3 icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                </div>
                            </td>
                            <td class="pr-6 text-left whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="bg-white border rounded-sm border-gray-400 w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                    <input placeholder="checkbox" type="checkbox" class="checkbox opacity-0 focus:opacity-100 absolute cursor-pointer w-full h-full" />
                                    <div class="check-icon hidden bg-yellow-400 text-white rounded-sm">
                                        <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <td class="font-semibold text-sm pr-10 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-500">User Experience Design Revamp</a>
                            </td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">08</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">03</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">05</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">06</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="flex items-center flex-no-wrap">
                                    <div class="w-8 h-8 bg-cover bg-center rounded-md">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_0.png" alt="img1" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_1.png" alt="img2" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md bg-center -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_2.png" alt="img3" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                </div>
                            </td>
                            <td class="pr-8 relative">
                                <div class="dropdown-content mt-8 absolute left-0 -ml-12 shadow-md z-10 hidden w-32">
                                    <ul role="listbox" class="bg-white dark:bg-gray-800 shadow rounded py-1">
                                        <li  role="listitem" tabindex="0" class="cursor-pointer focus:outline-none focus:underline text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Edit</li>
                                        <li role="listitem" tabindex="0" class="cursor-pointer focus:outline-none focus:underline text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Delete</li>
                                        <li role="listitem" tabindex="0" class="cursor-pointer focus:outline-none focus:underline text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Duplicate</li>
                                    </ul>
                                </div>
                                <button onfocus="dropdownFunction(this)" role="button" aria-label="option" class="relative text-gray-500 dark:text-gray-400 rounded cursor-pointer border border-transparent focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md focus:outline-none">
                                    <svg onclick="dropdownFunction(this)" xmlns="http://www.w3.org/2000/svg" class="cursor-pointer icon icon-tabler icon-tabler-dots dropbtn" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <circle cx="5" cy="12" r="1" />
                                        <circle cx="12" cy="12" r="1" />
                                        <circle cx="19" cy="12" r="1" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        <tr class="h-20 border-gray-300 dark:border-gray-700 border-b">
                            <td class="pl-3 text-gray-600 dark:text-gray-400 font-normal text-left tracking-normal leading-4">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-3 icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                </div>
                            </td>
                            <td class="pr-6 text-left whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="bg-white border rounded-sm border-gray-400 w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                    <input placeholder="checkbox" type="checkbox" class="checkbox focus:opacity-100 opacity-0 absolute cursor-pointer w-full h-full" />
                                    <div class="check-icon hidden bg-yellow-400 text-white rounded-sm">
                                        <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <td class="font-semibold text-sm pr-10 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-500">User Experience Design Revamp</a>
                            </td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">08</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">03</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">05</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">06</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="flex items-center flex-no-wrap">
                                    <div class="w-8 h-8 bg-cover bg-center rounded-md">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_0.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_1.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md bg-center -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_2.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                </div>
                            </td>
                            <td class="pr-8 relative">
                                <div class="dropdown-content mt-8 absolute left-0 -ml-12 shadow-md z-10 hidden w-32">
                                    <ul role="listbox" class="bg-white dark:bg-gray-800 shadow rounded py-1">
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Edit</li>
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Delete</li>
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Duplicate</li>
                                    </ul>
                                </div>
                                <button onfocus="dropdownFunction(this)" role="button" aria-label="option" class="text-gray-500 dark:text-gray-400 rounded cursor-pointer border border-transparent focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md focus:outline-none">
                                    <svg onclick="dropdownFunction(this)" xmlns="http://www.w3.org/2000/svg" class="cursor-pointer icon icon-tabler icon-tabler-dots dropbtn" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <circle cx="5" cy="12" r="1" />
                                        <circle cx="12" cy="12" r="1" />
                                        <circle cx="19" cy="12" r="1" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        <tr class="h-20 border-gray-300 dark:border-gray-700 border-b">
                            <td class="pl-3 text-gray-600 dark:text-gray-400 font-normal text-left tracking-normal leading-4">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-3 icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                </div>
                            </td>
                            <td class="pr-6 text-left whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="bg-white border rounded-sm border-gray-400 w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                    <input placeholder="checkbox" type="checkbox" class="checkbox opacity-0 focus:opacity-100 absolute cursor-pointer w-full h-full" />
                                    <div class="check-icon hidden bg-yellow-400 text-white rounded-sm">
                                        <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <td class="font-semibold text-sm pr-10 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-500">User Experience Design Revamp</a>
                            </td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">08</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">03</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">05</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">06</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="flex items-center flex-no-wrap">
                                    <div class="w-8 h-8 bg-cover bg-center rounded-md">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_0.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_1.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md bg-center -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_2.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                </div>
                            </td>
                            <td class="pr-8 relative">
                                <div class="dropdown-content mt-8 absolute left-0 -ml-12 shadow-md z-10 hidden w-32">
                                    <ul role="listbox" class="bg-white dark:bg-gray-800 shadow rounded py-1">
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Edit</li>
                                        <litabindex="0"  role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Delete</li>
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Duplicate</li>
                                    </ul>
                                </div>
                                <button onfocus="dropdownFunction(this)" role="button" aria-label="option" class="text-gray-500 dark:text-gray-400 rounded cursor-pointer border border-transparent focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md focus:outline-none">
                                    <svg onclick="dropdownFunction(this)" xmlns="http://www.w3.org/2000/svg" class="cursor-pointer icon icon-tabler icon-tabler-dots dropbtn" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <circle cx="5" cy="12" r="1" />
                                        <circle cx="12" cy="12" r="1" />
                                        <circle cx="19" cy="12" r="1" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        <tr class="h-20 border-gray-300 dark:border-gray-700 border-b">
                            <td class="pl-3 text-gray-600 dark:text-gray-400 font-normal text-left tracking-normal leading-4">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-3 icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                </div>
                            </td>
                            <td class="pr-6 text-left whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="bg-white border rounded-sm border-gray-400 w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                    <input placeholder="checkbox" type="checkbox" class="checkbox focus:opacity-100 opacity-0 absolute cursor-pointer w-full h-full" />
                                    <div class="check-icon hidden bg-yellow-400 text-white rounded-sm">
                                        <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <td class="font-semibold text-sm pr-10 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-500">User Experience Design Revamp</a>
                            </td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">08</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">03</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">05</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">06</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="flex items-center flex-no-wrap">
                                    <div class="w-8 h-8 bg-cover bg-center rounded-md">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_0.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_1.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md bg-center -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_2.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                </div>
                            </td>
                            <td class="pr-8 relative">
                                <div class="dropdown-content mt-8 absolute left-0 -ml-12 shadow-md z-10 hidden w-32">
                                    <ul role="listbox" class="bg-white dark:bg-gray-800 shadow rounded py-1">
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Edit</li>
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Delete</li>
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Duplicate</li>
                                    </ul>
                                </div>
                                <button onfocus="dropdownFunction(this)" role="button" aria-label="option" class="text-gray-500 dark:text-gray-400 rounded cursor-pointer border border-transparent focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md focus:outline-none">
                                    <svg onclick="dropdownFunction(this)" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots dropbtn" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="5" cy="12" r="1"></circle>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        <tr class="h-20 border-gray-300 dark:border-gray-700 border-b">
                            <td class="pl-3 text-gray-600 dark:text-gray-400 font-normal text-left tracking-normal leading-4">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-3 icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                    </svg>
                                </div>
                            </td>
                            <td class="pr-6 text-left whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="bg-white border rounded-sm border-gray-400 w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                    <input placeholder="checkbox" type="checkbox" class="checkbox focus:opacity-100 opacity-0 absolute cursor-pointer w-full h-full" />
                                    <div class="check-icon hidden bg-yellow-400 text-white rounded-sm">
                                        <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <td class="font-semibold text-sm pr-10 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-500">User Experience Design Revamp</a>
                            </td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">08</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">03</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">05</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">06</td>
                            <td class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                                <div class="flex items-center flex-no-wrap">
                                    <div class="w-8 h-8 bg-cover bg-center rounded-md">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_0.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_1.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                    <div class="w-8 h-8 bg-cover rounded-md bg-center -ml-2">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_2.png" alt="" class="h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                                    </div>
                                </div>
                            </td>
                            <td class="pr-8 relative">
                                <div class="dropdown-content mt-8 absolute left-0 -ml-12 shadow-md z-10 hidden w-32">
                                    <ul role="listbox" class="bg-white dark:bg-gray-800 shadow rounded py-1">
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Edit</li>
                                        <li tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Delete</li>
                                        <li  tabindex="0" role="listitem" class="cursor-pointer focus:outline-none focus:underline text-gray-600 text-gray-600 dark:text-gray-400 leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">Duplicate</li>
                                    </ul>
                                </div>
                                <button onfocus="dropdownFunction(this)" role="button" aria-label="option" class="text-gray-500 dark:text-gray-400 rounded cursor-pointer border border-transparent focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md focus:outline-none">
                                    <svg onclick="dropdownFunction(this)" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots dropbtn" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <circle cx="5" cy="12" r="1"></circle>
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            .checkbox:checked + .check-icon {
                display: flex;
            }
        </style>

        <script>
            let flag = true;
            function checkAll() {
                if (flag) {
                    document.querySelectorAll('input[type="checkbox"]').forEach((el) => {
                        el.nextElementSibling.classList.remove("hidden");
                    });
                    flag = false;
                } else {
                    document.querySelectorAll('input[type="checkbox"]').forEach((el) => {
                        el.nextElementSibling.classList.add("hidden");
                    });
                    flag = true;
                }
            }
            function dropdownFunction(element) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                let list = element.parentElement.parentElement.getElementsByClassName("dropdown-content")[0];
                for (i = 0; i < dropdowns.length; i++) {
                    dropdowns[i].classList.add("hidden");
                }
                list.classList.toggle("hidden");
            }
            window.onclick = function (event) {
                if (!event.target.matches(".dropbtn")) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        openDropdown.classList.add("hidden");
                    }
                }
            };
        </script>
        <script src="./script.js"></script>
    </body>
</html>
