<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>card-3</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900 py-8 xl:py-12 px-6" style="min-height: 400px">
        <div class="flex items-center justify-center">
            <!-- Please include the chartJs script in the head section of your webpage to make the chart work. -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
            <div class="sm:w-96 w-80 rounded shadow-lg dark:bg-gray-800 bg-white">
                <div class="p-6">
                    <p tabindex="0" class="focus:outline-none text-sm leading-none text-gray-500 dark:text-gray-400 tracking-tighter">Trend</p>

                    <h1 tabindex="0" class="focus:outline-none text-gray-800 dark:text-gray-100 font-bold text-lg">Product Sale</h1>
                </div>
                <div class="w-full pt-7 flex items-center justify-center">
                    <div aria-label="chart" role="img" tabindex="0" class="focus:outline-none w-full h-full">
                        <canvas id="myChart" width="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var ctx = document.getElementById("myChart").getContext("2d");
            var myChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: ["", "", "", " ", "", ""],
                    datasets: [
                        {
                            data: [200, 240, 220, 192, 270, 290],
                            backgroundColor: ["rgba(67,56,202,0.4)"],
                            borderColor: ["#6366F1", "#6366F1", "#6366F1", "#6366F1", "#6366F1", "#6366F1"],
                            borderWidth: 1,
                            pointBackgroundColor: "#6366F1",
                            strokeColor: "#6366F1",
                        },
                    ],
                },
                options: {
                    generateLabels: {
                        hidden: true,
                    },
                    legend: {
                        display: false,
                    },
                    scales: {
                        yAxes: [
                            {
                                gridLines: {
                                    display: false,
                                },
                                display: false,
                            },
                        ],
                        xAxes: [
                            {
                                gridLines: {
                                    display: false,
                                },
                                display: false,
                            },
                        ],
                    },
                },
            });
        </script>
        <script src="./index.js"></script>
    </body>
</html>
