<div class="flex items-center justify-center w-full h-full py-12 px-4">
    <!-- Please include the chartJs script in the head section of your webpage to make the chart work.
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>                 -->
    <div class="max-w-sm bg-white pt-6 dark:bg-gray-800 rounded">
        <p class="text-xl font-semibold leading-5 pl-8 sm:pr-40 pr-10 text-gray-800 dark:text-gray-100">Last 7 day sales</p>
        <hr class="w-full border-gray-200 mt-4 mb-8" />
        <div class="pl-8">
            <p class="sm:text-3xl text-2xl font-semibold leading-7 text-gray-800 dark:text-gray-100">1,969</p>
            <p class="sm:text-base text-sm font-medium leading-4 pt-2 text-gray-500 dark:text-gray-400">Items Sold</p>
            <p class="sm:text-3xl text-2xl font-semibold leading-7 pt-6 text-gray-800 dark:text-gray-100">$ 15,467</p>
            <p class="sm:text-base text-sm font-medium leading-4 pt-2 text-gray-500 dark:text-gray-400">Total Earnings</p>
        </div>
        <div>
            <div class="sm:pt-8">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
