<div class="sm:hidden w-11/12 mx-auto relative rounded">
    <div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="8 9 12 5 16 9" />
            <polyline points="16 15 12 19 8 15" />
        </svg>
    </div>
    <select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-600 appearance-none bg-transparent relative z-10">
        <option class="text-sm text-gray-600">inactive</option>
        <option class="text-sm text-gray-600">inactive</option>
        <option selected class="text-sm text-gray-600">Active</option>
        <option class="text-sm text-gray-600">inactive</option>
        <option class="text-sm text-gray-600">inactive</option>
    </select>
</div>
<div class="justify-between flex-wrap hidden sm:block shadow rounded">
    <div class="xl:w-full xl:mx-0 pl-5 pr-5 bg-gray-200 h-12">
        <ul class="flex items-center bg-gray-200 h-full">
            <li (click)="this.active_status = 1" [ngClass]="active_status == 1 ? 'text-sm text-gray-800 py-2 bg-white px-5 rounded-md mr-10 font-normal cursor-pointer' : 'text-sm text-gray-600 pt-2 pb-2 mr-10 font-normal hover:text-gray-800 cursor-pointer'">{{ active_status == 1 ? "Active" : "Inactive" }}</li>
            <li (click)="this.active_status = 2" [ngClass]="active_status == 2 ? 'text-sm text-gray-800 py-2 bg-white px-5 rounded-md mr-10 font-normal cursor-pointer' : 'text-sm text-gray-600 pt-2 pb-2 mr-10 font-normal hover:text-gray-800 cursor-pointer'">{{ active_status == 2 ? "Active" : "Inactive" }}</li>
            <li (click)="this.active_status = 3" [ngClass]="active_status == 3 ? 'text-sm text-gray-800 py-2 bg-white px-5 rounded-md mr-10 font-normal cursor-pointer' : 'text-sm text-gray-600 pt-2 pb-2 mr-10 font-normal hover:text-gray-800 cursor-pointer'">{{ active_status == 3 ? "Active" : "Inactive" }}</li>
        </ul>
    </div>
</div>
