<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <title>Hero</title>
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>
    <body style="min-height: 600px">
        <!-- Navbar -->
        <div class="pt-12 flex flex-row items-center justify-between container mx-auto px-5 lg:px-10">
            <div>
                <h1 class="text-xl font-black leading-tight text-gray-900">Strayhome</h1>
            </div>
            <div class="flex flex-row md:items-center md:space-x-20">
                <div class="hidden md:block">
                    <ul class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-16 md:items-center">
                        <li><a class="text-base font-medium leading-none text-center text-gray-900 hover:underline" href="javascript:void(0)">Home</a></li>
                        <li><a class="text-base font-medium leading-none text-center text-gray-900 hover:underline" href="javascript:void(0)">About</a></li>
                        <li><a class="text-base font-medium leading-none text-center text-gray-900 hover:underline" href="javascript:void(0)">Projects</a></li>
                    </ul>
                </div>
                <div class="hidden md:block" >
                    <a href="javascript:void(0)" class="text-base font-bold leading-none underline text-center text-gray-900 hover:text-indigo-700"> Let's work together </a>
                </div>

                <div class="flex items-center md:hidden relative" onclick="dropdownHandler(this)">
                    <button id="menu" class="text-gray-800 text-2xl focus:outline-none focus:ring-2 focus:ring-gray-600 rounded" onclick="dropdownHandler(this)">
                        <svg aria-label="open menu" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="4" y1="6" x2="20" y2="6" />
                            <line x1="4" y1="12" x2="20" y2="12" />
                            <line x1="4" y1="18" x2="20" y2="18" />
                        </svg>
                    </button>
                    <ul class="p-2 w-40 border-r bg-white absolute rounded z-20 top-10 right-0 shadow hidden">
                        <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-400 focus:text-indigo-700 focus:outline-none">
                            <div class="flex items-center">
                                <a href="javascript:void(0)" class="ml-2">Home</a>
                            </div>
                        </li>
                        <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex items-center">
                            <a href="javascript:void(0)" class="ml-2">About</a>
                        </li>
                        <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none bg-white">
                            <a href="javascript:void(0)" class="ml-2">Projects</a>
                        </li>
                        <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 ml-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none bg-white">
                            <a href="javascript:void(0)" class="font-bold leading-none underline text-gray-900 hover:text-indigo-700"> Let's work together </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- Navbar ends -->
        <!-- Hero  -->
        <div class="flex md:justify-center container mx-auto md:w-9/12 mt-16 md:mt-24 px-5 md:px-0">
            <p role="contentinfo" class="md:text-xl text-lg md:leading-loose leading-7 md:text-center text-gray-700">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It has a more-or-less normal distribution of letters, as opposed.</p>
        </div>
        <div class="sm:relative mt-16 sm:mt-14 md:mt-0">
            <div class="container sm:w-11/12 md:w-full lg:w-4/5 px-5 sm:px-0 mx-auto flex sm:justify-center sm:absolute sm:inset-0 sm:top-2 md:top-24 lg:top-20 xl:top-12 z-10">
                <h1 role="heading" class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-extrabold leading-20 xl:leading-24 sm:text-center text-gray-900 sm:absolute">It is hard to be hungry and homeless.</h1>
            </div>
            <img src="https://i.ibb.co/Sx644pm/pexels-eddie-galaxy-3628100-1-1.png" loading="lazy" class="sm:block hidden absolute inset-0 w-full mt-4 md:h-auto h-96 object-center hidden object-fit object-cover sm:mt-20 md:mt-48" alt="Four stray puppies" role="img" />
            <img src="https://i.ibb.co/Ld4TdrG/pexels-eddie-galaxy-3628100-2.png" alt="Four stray puppies" role="img" class="w-full h-full sm:hidden block mt-4" />
        </div>
        <script src="./index.js"></script>
    </body>
</html>
