<div class="w-full bg-gray-200 dark:bg-gray-900 py-10">
    <div class="container mx-auto px-6 flex items-start justify-center">
        <div class="w-full">
            <!-- Card is full width. Use in 12 col grid for best view. -->
            <!-- Card code block start -->
            <div class="flex flex-col lg:flex-row mx-auto w-full bg-white dark:bg-gray-800 shadow rounded">
                <div class="w-full lg:w-1/3 p-6">
                    <div class="flex items-center">
                        <div class="w-12 h-12 rounded shadow">
                            <img class="w-full h-full overflow-hidden object-cover rounded" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_24.png" alt="logo" />
                        </div>
                        <div class="ml-3">
                            <h5 class="text-gray-800 dark:text-gray-100 font-medium text-base">Fitbit Incorporation</h5>
                            <p class="text-gray-600 dark:text-gray-400 text-xs font-normal">San Diego, California</p>
                        </div>
                    </div>
                    <h3 class="text-lg text-gray-800 dark:text-gray-100 font-bold mt-5 mb-1">User Experience Revamp</h3>
                    <p class="text-gray-600 dark:text-gray-400 text-sm font-normal">To many naive users of the platform, a redesign may look just like a facelift. No more, no less. However, for a User Experience designer, the entire redesign process means much more than a lot of research, meticulous planning, iterating, and gallons of coffee!</p>
                    <div class="flex items-center mt-6 w-full">
                        <div class="shadow border-2 border-white rounded-full w-8 h-8">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/photo-1564061170517-d3907caa96ea.jfif" alt="avatar" />
                        </div>
                        <div class="-ml-2 shadow border-2 border-white rounded-full w-8 h-8">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/photo-1548958921-c5c0fe1b307d.jfif" alt="avatar" />
                        </div>
                        <div class="-ml-2 shadow border-2 border-white rounded-full w-8 h-8">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/photo-1566753323558-f4e0952af115.jfif" alt="avatar" />
                        </div>
                        <div class="-ml-2 shadow border-2 border-white rounded-full w-8 h-8">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/beautiful-woman-medium-shot-with-pink-background_23-2148316670.jpg" alt="avatar" />
                        </div>
                        <div class="-ml-2 shadow border-2 border-white rounded-full w-8 h-8">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/excited-happy-young-pretty-woman_171337-2006.jpg" alt="avatar" />
                        </div>
                        <p class="text-gray-600 dark:text-gray-400 text-sm font-normal ml-2">+2 more participants</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 p-6 border-t border-b lg:border-t-0 lg:border-b-0 sm:border-l sm:border-r border-gray-300">
                    <div class="flex flex-col lg:flex-row items-start lg:items-center justify-between">
                        <div class="text-xs text-center w-full bg-indigo-100 text-indigo-700 dark:text-indigo-600 rounded font-medium p-3 lg:mr-3">Start Date: 22 Jun, 2020</div>
                        <div class="mt-4 text-center w-full lg:mt-0 text-xs bg-red-200 text-red-500 rounded font-medium p-3">End Date: 03 Dec, 2020</div>
                    </div>
                    <div class="mt-6 mb-8 w-full bg-gray-100 dark:bg-gray-700 rounded p-4 relative">
                        <ul>
                            <li class="text-xs text-gray-600 dark:text-gray-400 font-normal tracking-normal">- Visual QA for all design components</li>
                            <li class="text-xs text-gray-600 dark:text-gray-400 font-normal tracking-normal my-4">- UX overview of new product launch</li>
                            <li class="text-xs text-gray-600 dark:text-gray-400 font-normal tracking-normal">- Visual QA for all design components</li>
                        </ul>
                    </div>
                    <div class="flex items-center justify-between">
                        <div>
                            <h2 class="text-gray-600 dark:text-gray-400 font-bold text-lg leading-6 mb-1 text-center">24</h2>
                            <p class="text-gray-800 dark:text-gray-100 text-sm leading-5 text-center">Milestones</p>
                        </div>
                        <div>
                            <h2 class="text-gray-600 dark:text-gray-400 font-bold text-lg leading-6 mb-1 text-center">03</h2>
                            <p class="text-gray-800 dark:text-gray-100 text-sm leading-5 text-center">Teams Assigned</p>
                        </div>
                        <div>
                            <h2 class="text-gray-600 dark:text-gray-400 font-bold text-lg leading-6 mb-1 text-center">14</h2>
                            <p class="text-gray-800 dark:text-gray-100 text-sm leading-5 text-center">Tasks Pending</p>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 p-6">
                    <div class="mb-4 flex items-center justify-between">
                        <p class="text-gray-600 dark:text-gray-400 text-sm font-normal leading-3 tracking-normal">User Experience Research</p>
                        <p class="text-xs text-indigo-700 dark:text-indigo-600 font-normal leading-3 tracking-normal">7/12</p>
                    </div>
                    <div class="relative mb-8">
                        <hr class="h-1 rounded-sm bg-gray-200" />
                        <hr class="absolute top-0 h-1 w-7/12 rounded-sm bg-indigo-400" />
                    </div>
                    <div class="mb-4 flex items-center justify-between">
                        <p class="text-gray-600 dark:text-gray-400 text-sm font-normal leading-3 tracking-normal">Component Wireframing</p>
                        <p class="text-xs text-indigo-700 dark:text-indigo-600 font-normal leading-3 tracking-normal">3/12</p>
                    </div>
                    <div class="relative mb-8">
                        <hr class="h-1 rounded-sm bg-gray-200" />
                        <hr class="absolute top-0 h-1 w-3/12 rounded-sm bg-indigo-400" />
                    </div>
                    <div class="mb-4 flex items-center justify-between">
                        <p class="text-gray-600 dark:text-gray-400 text-sm font-normal leading-3 tracking-normal">Quality Assurance</p>
                        <p class="text-xs text-indigo-700 dark:text-indigo-600 font-normal leading-3 tracking-normal">9/12</p>
                    </div>
                    <div class="relative mb-6 sm:mb-12">
                        <hr class="h-1 rounded-sm bg-gray-200" />
                        <hr class="absolute top-0 h-1 w-9/12 rounded-sm bg-indigo-400" />
                    </div>
                    <div class="flex items-center justify-between">
                        <div>
                            <p class="text-sm text-gray-800 dark:text-gray-100 font-normal mb-1 tracking-normal">Earnings</p>
                            <h2 class="text-sm xl:text-lg text-gray-600 dark:text-gray-400 font-bold tracking-normal">$357,655</h2>
                        </div>
                        <div>
                            <p class="text-sm text-gray-800 dark:text-gray-100 font-normal mb-1 tracking-normal">Expenses</p>
                            <h2 class="text-sm xl:text-lg text-gray-600 dark:text-gray-400 font-bold tracking-normal">$189,955</h2>
                        </div>
                        <div>
                            <p class="text-sm text-gray-800 dark:text-gray-100 font-normal mb-1 tracking-normal">Net Cash</p>
                            <h2 class="text-sm xl:text-lg text-gray-600 dark:text-gray-400 font-bold tracking-normal">$888,546</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card code block end -->
        </div>
    </div>
</div>
