<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>tabs</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body>
        <div class="mx-auto container py-8 px-4 flex items-center justify-center w-full">
            <ul class="w-full hidden md:flex items-center pb-2 border-b border-gray-200">
                <li tabindex="0" onkeypress="activeTab(this)" onclick="activeTab(this)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 py-2 px-4 cursor-pointer bg-indigo-100 ease-in duration-150 rounded text-xs xl:text-sm leading-none text-center text-indigo-700">Timeline</li>
                <li tabindex="0" onkeypress="activeTab(this)" onclick="activeTab(this)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 py-2 px-4 cursor-pointer ml-24 bg-transparent hover:bg-indigo-50 ease-in duration-150 rounded text-xs xl:text-sm leading-none text-gray-600">Speakers</li>
                <li tabindex="0" onkeypress="activeTab(this)"onclick="activeTab(this)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 py-2 px-4 cursor-pointer ml-24 bg-transparent hover:bg-indigo-50 ease-in duration-150 rounded text-xs xl:text-sm leading-none text-gray-600">Sponsors</li>
                <li tabindex="0" onkeypress="activeTab(this)" onclick="activeTab(this)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 py-2 px-4 cursor-pointer ml-24 bg-transparent hover:bg-indigo-50 ease-in duration-150 rounded text-xs xl:text-sm leading-none text-gray-600">Additional Information</li>
            </ul>
            <div class="md:hidden relative w-11/12 mx-auto bg-white rounded">
                <div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <polyline points="8 9 12 5 16 9" />
                        <polyline points="16 15 12 19 8 15" />
                    </svg>
                </div>
                <select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-600 appearance-none bg-transparent relative z-10">
                    <option selected class="text-sm text-gray-600">Timeline</option>
                    <option class="text-sm text-gray-600">Speakers</option>
                    <option class="text-sm text-gray-600">Sponsors</option>
                    <option class="text-sm text-gray-600">Additional Information</option>
                </select>
            </div>
        </div>
        <script>
            function activeTab(element) {
                let siblings = element.parentNode.querySelectorAll("li");
                for (let item of siblings) {
                    item.classList.add("hover:bg-indigo-50");
                    item.classList.remove("text-indigo-700");
                    item.classList.remove("bg-indigo-100");
                }
                element.classList.remove("text-gray-600");
                element.classList.add("text-indigo-700");
                element.classList.add("bg-indigo-100");
            }
        </script>
        <script src="./index.js"></script>
    </body>
</html>
