<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 102</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-8 sm:px-6 px-4">
        <div class="max-w-sm w-full relative rounded shadow bg-white dark:bg-gray-800">
            <div class="py-6 sm:px-6 px-3">
                <p tabindex="0" class="focus:outline-none sm:text-lg text-xl font-bold leading-5 text-gray-800 dark:text-gray-100">Lorem ipsum dolor</p>
                <p tabindex="0" class="focus:outline-none sm:text-sm text-xs leading-loose text-gray-500 dark:text-gray-400 mt-6">30 mins ago</p>
                <p tabindex="0" class="focus:outline-none sm:text-base text-sm leading-5 pt-1 text-gray-500 dark:text-gray-400">
                    Cras tempor orci et ullamcorper pellentesque. Ut sollicitudin ultrices lectus. Sed bibendum felis sed metus congue, vitae congue eros rhoncus. Proin mattis nec odio et pharetra. Mauris ut odio finibus, mollis elit ac, fermentum lacus. Quisque eleifend ac nunc id tristique.<br /><br />Cras tempor orci et ullamcorper pellentesque. Ut sollicitudin ultrices lectus. Sed bibendum felis sed metus congue, vitae congue eros rhoncus. Proin mattis nec odio et pharetra. Mauris ut odio finibus, mollis elit ac, fermentum lacus. Quisque eleifend ac nunc id tristique.
                </p>
            </div>
            <div class="py-6 mt-4 border-t-2 border-gray-200 dark:border-gray-800">
                <div class="flex items-center sm:px-6 px-3">
                    <img src="https://i.ibb.co/SPMdHXG/image.png" alt="woman avatar" tabindex="0" class="focus:outline-none sm:w-16 w-12 sm:h-16 h-12 rounded-full" />
                    <div class="pl-4">
                        <p tabindex="0" class="focus:outline-none sm:text-lg text-base font-semibold leading-4 text-indigo-700">Tolu Arowoselu</p>
                        <p tabindex="0" class="focus:outline-none text-sm leading-4 text-gray-500 dark:text-gray-400 mt-1">On human rights</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
