<div class="max-w-sm w-full relative rounded shadow bg-white dark:bg-gray-800">
    <div class="py-6 px-6">
        <p class="sm:text-lg text-xl font-bold leading-5 text-gray-800 dark:text-gray-100">Lorem ipsum dolor</p>
        <p class="sm:text-sm text-xs leading-loose text-gray-500 dark:text-gray-400 mt-6">30 mins ago</p>
        <p class="sm:text-base text-sm leading-5 pt-1 text-gray-500 dark:text-gray-400">
            Cras tempor orci et ullamcorper pellentesque. Ut sollicitudin ultrices lectus. Sed bibendum felis sed metus congue, vitae congue eros rhoncus. Proin mattis nec odio et pharetra. Mauris ut odio finibus, mollis elit ac, fermentum lacus. Quisque eleifend ac nunc id tristique.<br /><br />Cras tempor orci et ullamcorper pellentesque. Ut sollicitudin ultrices lectus. Sed bibendum felis sed metus congue, vitae congue eros rhoncus. Proin mattis nec odio et pharetra. Mauris ut odio finibus, mollis elit ac, fermentum lacus. Quisque eleifend ac nunc id tristique.
        </p>
    </div>
    <div class="py-6 mt-4 border-t-2 border-gray-200 dark:border-gray-800">
        <div class="flex items-center px-6">
            <img src="https://i.ibb.co/SPMdHXG/image.png" alt="profile" class="w-16 h-16 rounded-full" />
            <div class="pl-4">
                <p class="sm:text-lg text-base font-semibold leading-4 text-indigo-700">Tolu Arowoselu</p>
                <p class="text-sm leading-4 text-gray-500 dark:text-gray-400 mt-1">On human rights</p>
            </div>
        </div>
    </div>
</div>
