<div class="w-full">
    <div class="bg-gradient-to-b from-indigo-700 to-purple-700 md:px-20 px-4">
        <div class="xl:flex items-center justify-center py-40">
            <div>
                <h1 class="text-5xl font-bold leading-10 text-white">Don’t miss out!</h1>
                <p role="contentinfo" class="xl:w-80 w-full text-base leading-6 pt-7 text-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <button tabindex="0" role="button" class="text-base font-medium leading-none text-indigo-700 bg-white hover:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white focus:outline-none mt-10 rounded py-4 px-8">Discover More</button>
            </div>
            <div class="xl:pl-20 xl:mt-0 mt-12">
                <div class="flex flex-col space-y-12 sm:space-y-0 sm:flex-row sm:items-center">
                    <div class="md:ml-0 sm:ml-4 flex items-center w-72 border-t border-dashed border-white">
                        <div class="pt-6">
                            <h2 role="heading" class="text-xl font-semibold leading-5 text-white">DIGITAL MARKETING</h2>
                            <div class="flex items-center mt-8">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Content Creation</p>
                            </div>
                            <div class="flex items-center my-6">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Mobile Marketing</p>
                            </div>
                            <div class="flex items-center">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Interactive Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="lg:ml-32 sm:ml-4 sm:mt-0 flex items-center w-72 border-t border-dashed border-white">
                        <div class="pt-6">
                            <h2 role="heading" class="text-xl font-semibold leading-5 text-white">SOCIAL MEDIA MARKETING</h2>
                            <div class="flex items-center mt-8">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Content Creation</p>
                            </div>
                            <div class="flex items-center my-6">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Mobile Marketing</p>
                            </div>
                            <div class="flex items-center">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Interactive Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col space-y-12 sm:space-y-0 sm:flex-row sm:items-center mt-10 sm:mt-20">
                    <div class="md:ml-0 sm:ml-4 w-72 flex items-center border-t border-dashed border-white">
                        <div class="pt-6">
                            <h2 role="heading" class="text-xl font-semibold leading-5 text-white">SERCH ENGINE OPTIMIZATION</h2>
                            <div class="flex items-center mt-8">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Content Creation</p>
                            </div>
                            <div class="flex items-center my-6">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Mobile Marketing</p>
                            </div>
                            <div class="flex items-center">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Interactive Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="lg:ml-32 sm:ml-4 sm:mt-0 flex items-center w-72 border-t border-dashed border-white">
                        <div class="pt-6">
                            <h2 role="heading" class="text-xl font-semibold leading-5 text-white">CONTENT CREATION</h2>
                            <div class="flex items-center mt-8">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Content Creation</p>
                            </div>
                            <div class="flex items-center my-6">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Mobile Marketing</p>
                            </div>
                            <div class="flex items-center">
                                <div class="w-1 h-1 bg-white rounded-full"></div>
                                <p role="contentinfo" class="text-base leading-none pl-4 text-white">Interactive Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
