<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet" />
        <title>contact</title>
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-100">
        <div class="mx-auto container w-full flex justify-center py-20">
            <div class="w-full max-w-lg">
                <div class="bg-indigo-800 flex w-full justify-center items-center pt-8 pb-9">
                    <div class="flex flex-col items-center">
                        <div>
                            <img src="https://cdn.tuk.dev/assets/components/111220/cn/logo(1).png" alt="US flag logo" />
                        </div>
                        <div class="py-8 text-white flex flex-col items-center">
                            <h1 class="font-medium text-2xl">Get Onboard Now</h1>
                            <p class="py-3 italic text-sm">Latest updates for you</p>
                        </div>
                        <div>
                            <form id="form" role="form">
                                <div class="flex flex-col items-center">
                                    <input class="h-12 bg-indigo-900 pl-6 placeholder-white text-white text-lg focus:outline-none focus:ring-2 focus:ring-white " placeholder="Your Name" type="text" name="" id="" aria-label="enter your name input" />
                                    <input class="h-12 bg-indigo-900 pl-6 placeholder-white text-white text-lg mt-3 focus:outline-none focus:ring-2 focus:ring-white" placeholder="Email" type="email" name="" id="" aria-label="enter your email input" />
                                    <input class="h-12 bg-indigo-900 pl-6 placeholder-white text-white text-lg mt-3 focus:outline-none focus:ring-2 focus:ring-white" placeholder="Zip Code" type="text" name="" id="" aria-label="enter your zip code input" />
                                    <button class="hover:opacity-90 w-full py-3 px-4 bg-red-600 text-sm uppercase text-white mt-3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600" aria-label="join us today">JOIN US TODAY</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./index.js"></script>
       
    </body>
</html>
