<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>component-6</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="md:w-96 rounded shadow-lg p-5 bg-white w-full dark:bg-gray-800">
                <h1 class="text-lg font-bold leading-7 text-gray-800 dark:text-gray-100">Progress</h1>
                <div class="flex items-end justify-between pt-7">
                    <div class="flex flex-col">
                        <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-600 hover:text-gray-600 text-gray-800 dark:text-gray-100"><h1 class="text-base font-medium leading-4 ">All Invoices</h1></a>
                        <p class="pt-1 text-xs leading-3 dark:text-gray-400 text-gray-600">Monthly Analysis</p>
                    </div>
                    <div><p class="text-base font-semibold leading-4 text-indigo-700">$6,390</p></div>
                </div>
                <div class="w-full bg-indigo-50 h-2 mr-1 relative rounded mt-3">
                    <div class="h-2 w-48 bg-indigo-700 rounded"></div>
                </div>
                <div class="flex items-end justify-between pt-6">
                    <div class="flex flex-col">
                        <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-600 hover:text-gray-600 text-gray-800 dark:text-gray-100"><h1 class="text-base font-medium leading-4 ">Pending</h1></a>
                        <p class="pt-1 text-xs leading-3 dark:text-gray-400 text-gray-600">Weekly Analysis</p>
                    </div>
                    <div><p class="text-base font-semibold leading-4 text-blue-700">$1,320</p></div>
                </div>
                <div class="w-full bg-blue-50 h-2 mr-1 relative rounded mt-3">
                    <div class="h-2 w-32 bg-blue-700 rounded"></div>
                </div>
                <div class="flex items-end justify-between pt-6">
                    <div class="flex flex-col">
                        <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-600 hover:text-gray-600 text-gray-800 dark:text-gray-100"><h1 class="text-base font-medium leading-4 ">Pending</h1></a>
                        <p class="pt-1 text-xs leading-3 dark:text-gray-400 text-gray-600">Daily Analysis</p>
                    </div>
                    <div><p class="text-base font-semibold leading-4 text-green-700">$6,320</p></div>
                </div>
                <div class="w-full bg-green-50 h-2 mr-1 relative rounded mt-3">
                    <div class="h-2 w-32 bg-green-700 rounded"></div>
                </div>
                <div class="flex items-end justify-between pt-6">
                    <div class="flex flex-col">
                        <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-gray-600 hover:text-gray-600 text-gray-800 dark:text-gray-100"><h1 class="text-base font-medium leading-4 ">Upcoming</h1></a>
                        <p class="pt-1 text-xs leading-3 dark:text-gray-400 text-gray-600">Monthly Analysis</p>
                    </div>
                    <div><p class="text-base font-semibold leading-4 text-pink-700">$6,320</p></div>
                </div>
                <div class="w-full bg-pink-50 h-2 mr-1 relative rounded mt-3">
                    <div class="h-2 w-32 bg-pink-700 rounded"></div>
                </div>
            </div>
        </div>
    </body>
</html>
