<div class="flex items-center justify-center w-full h-full py-8 px-4">
    <!-- Please include the chartJs script in the head section of your webpage to make the chart work. -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
    <div class="md:w-96 w-80 bg-white shadow-lg dark:bg-gray-800 rounded py-4 px-8">
        <p class="text-base font-medium leading-4 text-gray-600 dark:text-gray-400">Earnings By Item Type</p>
        <div class="h-full w-full mt-14 relative flex items-center justify-center">
            <canvas id="myChart" width="256px" height="256px"></canvas>
            <div class="absolute flex flex-col items-center jutsify-center">
                <p class="md:text-4xl text-2xl font-semibold leading-9 text-center text-gray-800 dark:text-gray-100">$159.89</p>
                <p class="text-sm leading-none text-center text-gray-500 dark:text-gray-100 pt-2">Total Earning</p>
            </div>
        </div>
        <hr class="w-full px-8 md:mt-8 mt-28 border-gray-400 mb-6" />
        <div class="md:flex">
            <div class="flex items-center">
                <div class="w-5 h-5 bg-gradient-to-br from-red-300 to-purple-500 rounded-lg mr-3"></div>
                <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">Graphic Template</p>
            </div>
            <div class="flex items-center justify md:ml-7 md:mt-0 mt-4">
                <div class="w-5 h-5 bg-gradient-to-br from-green-300 to-blue-400 rounded-lg mr-3"></div>
                <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">UI Design</p>
            </div>
        </div>
    </div>
</div>
