<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <link href="./assets/css/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="dark:bg-gray-900 bg-gray-200">
        <div class="mx-auto container py-12 px-6 flex justify-center items-center">
            <div class="max-w-xs">
                <div class="w-full bg-white dark:bg-gray-800 rounded-lg shadow-lg mb-3 py-5 px-4">
                    <div class="mb-5 w-20 rounded border border-gray-400 py-1 pl-2 pr-3 flex items-center">
                        <div class="w-2 h-2 mr-2 bg-yellow-600 rounded-full"></div>
                        <p tabindex="0" class="focus:outline-none text-xs text-gray-800 dark:text-gray-100">Family</p>
                    </div>
                    <h4 tabindex="0" class="focus:outline-none text-gray-800 dark:text-gray-100 font-semibold mb-4">Company website redesign</h4>
                    <p tabindex="0" class="focus:outline-none mb-3 text-gray-600 dark:text-gray-400 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat ar ..</p>
                    <div class="flex items-center justify-between text-gray-600 dark:text-gray-400">
                        <div class="mb-5 rounded-full border border-gray-400 py-1 pl-2 pr-3 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-label="alarm icon" role="img" tabindex="0" class="focus:outline-none flex-shrink-0 icon icon-tabler icon-tabler-alarm" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <circle cx="12" cy="13" r="7"></circle>
                                <polyline points="12 10 12 13 14 13"></polyline>
                                <line x1="7" y1="4" x2="4.25" y2="6"></line>
                                <line x1="17" y1="4" x2="19.75" y2="6"></line>
                            </svg>
                            <p tabindex="0" class="focus:outline-none ml-2 text-xs">7 Sept, 23:00</p>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-xs text-red-700 font-semibold">Two days ago</p>
                    </div>
                    <div class="mt-4 flex justify-between items-center text-gray-600 dark:text-gray-400">
                        <div class="flex items-center flex-no-wrap">
                            <div class="w-6 h-6 bg-cover bg-center rounded-md">
                                <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_0.png" alt="avatar 1" tabindex="0" class="focus:outline-none h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                            </div>
                            <div class="w-6 h-6 bg-cover rounded-md -ml-2">
                                <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_1.png" alt="avatar 2 " tabindex="0" class="focus:outline-none h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                            </div>
                            <div class="w-6 h-6 bg-cover rounded-md bg-center -ml-2">
                                <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_4_2.png" alt="avatar 3" tabindex="0" class="focus:outline-none h-full w-full overflow-hidden object-cover rounded-full border-2 border-white shadow" />
                            </div>
                        </div>

                        <svg xmlns="http://www.w3.org/2000/svg" aria-label="options" role="button" tabindex="0" class="focus:outline-none icon icon-tabler icon-tabler-dots" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"></path>
                            <circle cx="5" cy="12" r="1"></circle>
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
