<section class="w-full h-80 flex justify-center bg-gradient-to-l from-indigo-600 to-indigo-700">
    <div class="mx-auto container flex flex-col justify-center items-center">
      <div class="text-center">
        <h2 class="lg:text-5xl text-4xl font-extrabold leading-10 text-white">Get results, no matter what</h2>
      </div>
      <div class="mt-4 flex justify-center">
        <p class="lg:text-base text-sm font-medium leading-normal text-center text-white md:w-3/5 px-14">Start your free trial today, you get all the pro features for 1 month for you and your team. If you think its not for you can easily unsubscribe</p>
      </div>
      <div class="mt-8">
        <button class="text-indigo-700 font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-800 hover:bg-gray-100 bg-white w-40 h-12 text-base text-white rounded-sm">Start free trial</button>
      </div>
    </div>
  </section>