<div class="bg-gray-200 flex py-12 px-4 justify-center min-h-screen">
    <div>
        <div class="relative md:w-96 rounded shadow-lg px-6 pt-4 pb-6 dark:bg-gray-800 bg-white">
            <div class="flex flex-col items-center justify-center">
                <p class="text-base md:text-lg font-bold leading-5 dark:text-gray-100 text-gray-800">How do you feel about our Service</p>
                <p class="text-xs font-medium leading-3 text-gray-500 mt-3 mb-6 dark:text-gray-400">We would love to get your feedback</p>
                <div class="flex items-center justify-between w-full">
                    <button class="focus:outline-none">😍</button>
                    <button class="focus:outline-none">🙂</button>
                    <button class="focus:outline-none">😶</button>
                    <button class="focus:outline-none">😕</button>
                    <button class="focus:outline-none">😡</button>
                </div>
                <p class="text-xs leading-3 underline text-gray-500 dark:text-gray-400 cursor-pointer mt-4">Maybe later</p>
            </div>
        </div>
    </div>
</div>
