<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 103</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-8 sm:px-6 px-4 overflow-y-hidden">
        <div>
            <div class="max-w-sm w-full p-6 relative rounded shadow bg-white dark:bg-gray-800">
                <div class="flex items-center">
                    <img src="https://i.ibb.co/3k6DYks/image.png" alt="avatar" role="img" class="focus:outline-none dex="0" class="focus:outline-none w-12 h-12 rounded-full" />
                    <div class="ml-4">
                        <p tabindex="0" class="focus:outline-none sm:text-lg text-xs font-semibold leading-4 text-indigo-700">Martin Luther</p>
                        <p tabindex="0" class="focus:outline-none text-sm leading-4 text-gray-500 dark:text-gray-400">Lorem ipsum dolorr</p>
                    </div>
                </div>
                <p tabindex="0" class="focus:outline-none sm:text-lg text-base font-bold text-gray-800 dark:text-gray-100 mt-6">Do we know what Lorem ipsum dolor really means?</p>
                <p tabindex="0" class="focus:outline-none sm:text-sm text-xs leading-5 text-gray-500 dark:text-gray-400 mt-3">Cras tempor orci et ullamcorper pellentesque. Ut sollicitudin ultrices lectus. Sed bibendum felis sed metus congue, vitae congue eros rhoncus. Proin mattis nec odio et pharetra. Mauris ut odio finibus, mollis elit ac, fermentum lacus. Quisque eleifend ac nunc id tristique.</p>
                <img src="https://i.ibb.co/YQcgRBk/image4.png" alt="dog" role="img" tabindex="0" class="focus:outline-none my-4" />
                <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-loose text-gray-500 dark:text-gray-400">2 hours ago</p>
            </div>
        </div>
    </body>
</html>
