<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />

        <title>Grid Card 4</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="w-full py-10">
            <div class="container mx-auto px-6 flex items-start justify-center">
                <div class="w-full xl:w-1/4 lg:w-1/2 sm:w-1/2">
                    <dh-component>
                        <!-- Card is full width. Use in 4 col grid for best view. -->
                        <!-- Card code block start -->
                        <div class="bg-white dark:bg-gray-800 shadow rounded mx-auto w-full">
                            <div class="relative w-full h-40">
                                <img class="rounded-t z-0 w-full h-full absolute inset-0 object-cover" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_1.png" alt="banner" />
                            </div>
                            <div class="pt-5 w-full h-full">
                                <div class="px-5 flex items-center justify-between mb-4">
                                    <a tabindex="0" role="link"  class="focus:outline-none  focus:underline cursor-pointer focus:text-black hover:text-black text-indigo-700 dark:text-indigo-600 leading-3 tracking-normal text-sm font-normal">23 December, Sunday</a>
                                    <p class="text-indigo-700 dark:text-indigo-600 leading-3 tracking-normal text-sm font-normal">12:00pm</p>
                                </div>
                                <h4 class="px-5 text-lg leading-5 font-bold tracking-normal text-gray-800 dark:text-gray-100 mb-2">User Conference 2020</h4>
                                <p class="px-5 text-gray-600 dark:text-gray-400 text-sm font-normal tracking-normal leading-5 mb-4">we are excited to share our plans for a useR! 2020 series of events this July to replace the cancelled useR! 2020 Conference (St. Louis) and the useR! 2020 European Hub.</p>
                                <div class="py-4 px-5 flex justify-between border-t border-gray-300">
                                    <p class="text-gray-800 dark:text-gray-100 text-sm leading-5 tracking-normal">Las Vegas, Nevada</p>
                                    <div class="flex items-center">
                                        <button aria-label="save" class="rounded-md focus:outline-none focus:text-indigo-700 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-gray-600 dark:text-gray-400 hover:text-indigo-700 cursor-pointer mr-4">
                                            <svg class="feather feather-bookmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                                            </svg>
                                        </button>
                                        <button aria-label="share" class="rounded-md focus:outline-none focus:text-gray-600 focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 text-indigo-700 dark:text-indigo-600 hover:text-gray-600 dark:hover:text-gray-400 cursor-pointer">
                                            <svg class="feather feather-share-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="18" cy="5" r="3"></circle>
                                                <circle cx="6" cy="12" r="3"></circle>
                                                <circle cx="18" cy="19" r="3"></circle>
                                                <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                                                <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card code block end -->
                    </dh-component>
                </div>
            </div>
        </div>
    </body>
</html>
