<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 17</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="bg-white bg-white dark:bg-gray-800 md:w-96 rounded px-5 pt-3 pb-4 w-full shadow flex flex-col items-center justify-center">
                <img tabindex="0" class="focus:outline-none" src="https://i.ibb.co/3k97G48/card-1.png" alt="web design" />
                <p tabindex="0" class="focus:outline-none text-sm leading-4 mt-3 text-center text-gray-800">Looks kinda empty here</p>
                <button class="focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 flex items-center justify-center px-8 py-3 bg-indigo-700 hover:bg-indigo-600 rounded mt-5">
                    <p class="text-sm font-medium leading-none text-center text-white">Add Widget</p>
                </button>
            </div>
        </div>
    </body>
</html>
