<div class="mx-auto container relative z-40">
    <div class="flex items-center justify-center">
        <hr class="w-2.5 h-16 bg-indigo-700" />
        <h1 class="text-4xl font-bold text-gray-900 pl-7">Dish<span class="text-2xl font-normal"> of the Day</span></h1>
    </div>
    <div class="flex items-center justify-center relative">
        <img loading="lazy" src="https://i.ibb.co/jfm7RL9/Group-12.png" class="relative" />
        <div class="absolute lg:w-full w-32 sm:w-64 lg:bottom-48 sm:bottom-32 bottom-12 lg:right-56 xl:-ml-64 sm:-ml-64 -ml-32">
            <div class="flex items-center justify-center">
                <img loading="lazy" src="https://i.ibb.co/PhGJPZS/Rectangle-34.png" alt="" class="absolute" />
                <div class="md:text-xl text-xs md:ml-0 ml-4 xl:ml-2 font-bold text-white relative">EGG FENEL SALAD</div>
            </div>
        </div>
    </div>
</div>
