<div class="flex items-center justify-center w-full h-full py-12 px-4">
    <!-- Please include the chartJs script in the head section of your webpage to make the chart work.
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>                 -->
    <div class="max-w-sm bg-white shadow-md p-8 dark:bg-gray-800 rounded">
        <p class="text-2xl font-medium leading-6 sm:pr-56 pr-10 text-gray-800 dark:text-gray-100">Health</p>
        <div class="pt-6 relative flex items-center h-full justify-center">
            <div class="flex items-center h-full justify-center relative">
                <canvas id="progress-1" data-percent="25" width="200" height="200"></canvas>
                <div class="w-40 h-40 absolute bg-green-50 rounded-full flex items-center justify-center">
                    <p class="text-4xl font-medium leading-10 text-center text-green-500">25%</p>
                </div>
            </div>
        </div>
        <div class="flex pt-12">
            <div class="opacity-50 w-3.5 h-3.5 rounded-full bg-green-500"></div>
            <p class="text-sm leading-none text-gray-800 pl-2">Restless</p>
        </div>
    </div>
</div>
