<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 17</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="bg-white dark:bg-gray-800 md:w-96 rounded px-5 py-5 shadow w-full">
                <p tabindex="0" class="focus:outline-none text-lg font-bold leading-none text-gray-800 dark:text-gray-100">Best Sellers</p>
                <div class="mt-8 flex justify-between items-center">
                    <div class="flex items-center">
                        <img tabindex="0" class="focus:outline-none w-12 h-12 rounded-sm" src="https://i.ibb.co/Q8CRW4B/card-1.png" alt="white tiger" />
                        <div class="ml-3">
                            <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Plain White Tiger</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">$20/each</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">$520</p>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">124 orders</p>
                    </div>
                </div>
                <div class="mt-5 flex justify-between items-center">
                    <div class="flex items-center">
                        <img tabindex="0" class="focus:outline-none w-12 h-12 rounded-sm" src="https://i.ibb.co/HNgDYMB/card-2.png" alt="fresh towels" />
                        <div class="ml-3">
                            <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Awesome Fresh Towels</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">$30/each</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">$230</p>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">42 orders</p>
                    </div>
                </div>
                <div class="mt-5 flex justify-between items-center">
                    <div class="flex items-center">
                        <img tabindex="0" class="focus:outline-none w-12 h-12 rounded-sm" src="https://i.ibb.co/cxttnLp/card-3.png" alt="Hat" />
                        <div class="ml-3">
                            <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Gorgeous Granite Hat</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">$54/each</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">$123</p>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">172 orders</p>
                    </div>
                </div>
                <div class="mt-5 flex justify-between items-center">
                    <div class="flex items-center">
                        <img tabindex="0" class="focus:outline-none w-12 h-12 rounded-sm" src="https://i.ibb.co/qpSQtrc/card-4.png" alt="Cheese" />
                        <div class="ml-3">
                            <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Awesome Cotton Cheese</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">$37/each</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">$321</p>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">32 orders</p>
                    </div>
                </div>
                <div class="mt-5 flex justify-between items-center">
                    <div class="flex items-center">
                        <img tabindex="0" class="focus:outline-none w-12 h-12 rounded-sm" src="https://i.ibb.co/Ws0LLgv/card-5.png" alt="Plastic Mouse" />
                        <div class="ml-3">
                            <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Small Plastic Mouse</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">$12/each</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">$20</p>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-2">12 orders</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
