<div class="flex items-center justify-center py-8 px-4">
    <!-- Please include the chartJs script in the head section of your webpage to make the chart work. -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
    <div class="md:w-96 rounded shadow-lg p-6 bg-white">
        <div class="flex items-center justify-between">
            <h1 class="text-gray-800 font-bold text-lg">Expenditure</h1>
            <div class="flex items-center">
                <div class="flex items-center">
                    <div class="w-2 rounded-full mr-1 h-1 bg-purple-500"></div>
                    <p class="text-xs leading-3 text-gray-800">AlphaSquad</p>
                </div>
                <div class="flex items-center ml-5">
                    <div class="w-2 rounded-full mr-1 h-1 bg-pink-500"></div>
                    <p class="text-xs leading-3 text-gray-800">TUK</p>
                </div>
            </div>
        </div>
        <div class="w-full pt-7 flex items-center justify-center">
            <div class="w-64">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
