<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>component-11</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="md:w-96 rounded shadow-lg py-4 px-5 bg-white w-full dark:bg-gray-800">
                <h2 class="text-xs leading-3 text-gray-600 dark:text-gray-100">Wednesday</h2>
                <h1 class="text-sm font-bold leading-3 pt-1 dark:text-gray-100 text-gray-800">12 January 2021</h1>
                <div class="pt-6">
                    <div class="flex items-center justify-between opacity-75">
                        <div class="flex items-center">
                            <div class="w-1 h-4 bg-purple-500 bg-opacity-50 rounded-md"></div>

                            <p class="opacity-50 text-xs leading-3 dark:text-gray-100 text-gray-800 pl-2">Make payment for spotify</p>
                        </div>
                        <div class="flex items-center">
                            <p class="opacity-50 text-xs leading-3 text-right text-gray-600 dark:text-gray-100 pr-2">09:30 AM</p>
                            <div class="bg-white border rounded-sm border-gray-400 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                                <input aria-label="select" checked type="checkbox" class="checkbox focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 opacity-0 absolute cursor-pointer w-full h-full" />
                                <div class="check-icon hidden bg-blue-500 text-white rounded-sm">
                                    <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center">
                            <div class="w-1 h-4 bg-pink-500 rounded-md"></div>

                            <p class="text-xs leading-3 dark:text-gray-100 text-gray-800 pl-2">Pick up the kids</p>
                        </div>
                        <div class="flex items-center">
                            <p class="text-xs leading-3 text-right text-gray-600 dark:text-gray-100 pr-2">12:30 AM</p>
                            <div class="bg-white border rounded-sm border-gray-400 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                                <input aria-label="select" type="checkbox" class="checkbox focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 opacity-0 absolute cursor-pointer w-full h-full" />
                                <div class="check-icon hidden bg-blue-500 text-white rounded-sm">
                                    <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center">
                            <div class="w-1 h-4 bg-blue-500 rounded-md"></div>

                            <p class="text-xs leading-3 dark:text-gray-100 text-gray-800 pl-2">Grocery Shopping</p>
                        </div>
                        <div class="flex items-center">
                            <p class="text-xs leading-3 text-right text-gray-600 dark:text-gray-100 pr-2">1:30 PM</p>
                            <div class="bg-white border rounded-sm border-gray-400 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                                <input type="checkbox" aria-label="select" class="checkbox focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 opacity-0 absolute cursor-pointer w-full h-full" />
                                <div class="check-icon hidden bg-blue-500 text-white rounded-sm">
                                    <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center">
                            <div class="w-1 h-4 bg-yellow-500 rounded-md"></div>

                            <p class="text-xs leading-3 dark:text-gray-100 text-gray-800 pl-2">Call Micheal</p>
                        </div>
                        <div class="flex items-center">
                            <p class="text-xs leading-3 text-right text-gray-600 dark:text-gray-100 pr-2">4:30 PM</p>
                            <div class="bg-white border rounded-sm border-gray-400 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                                <input type="checkbox" aria-label="select" class="checkbox focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500  opacity-0 absolute cursor-pointer w-full h-full" />
                                <div class="check-icon hidden bg-blue-500 text-white rounded-sm">
                                    <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center">
                            <div class="w-1 h-4 bg-red-500 rounded-md"></div>

                            <p class="text-xs leading-3 dark:text-gray-100 text-gray-800 pl-2">Pick up dinner</p>
                        </div>
                        <div class="flex items-center">
                            <p class="text-xs leading-3 text-right text-gray-600 dark:text-gray-100 pr-2">8:30 PM</p>
                            <div class="bg-white border rounded-sm border-gray-400 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                                <input type="checkbox" aria-label="select" class="checkbox opacity-0 focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 absolute cursor-pointer w-full h-full" />
                                <div class="check-icon hidden bg-blue-500 text-white rounded-sm">
                                    <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .checkbox:checked + .check-icon {
                display: flex;
            }
        </style>
    </body>
</html>
