<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="min-height: 300px">
        <div class="flex items-center justify-center w-full h-full py-8 px-4">
            <div class="w-40 bg-white dark:bg-gray-800 rounded py-4">
                <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100 text-center">Select Language</p>
                <hr class="w-full bg-gray-200 mt-3" />
                <div class="flex pl-8 mt-5">
                    <img alt="usa flag" src="https://i.ibb.co/YycnHbn/usa.png" tabindex="0" class="focus:outline-none w-5 h-5" />
                    <p tabindex="0" class="focus:outline-none text-sm leading-none text-gray-800 dark:text-gray-100 pl-4 pr-2">English</p>
                    <svg aria-label="checked icon" role="img" tabindex="0" class="focus:outline-none text-gray-800 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l5 5l10 -10" />
                    </svg>
                </div>
                <div class="flex px-8 mt-5">
                    <img alt="china flag" src="https://i.ibb.co/MMQtT0G/china.png" tabindex="0" class="focus:outline-none w-5 h-5" />
                    <p tabindex="0" class="focus:outline-none text-sm leading-none text-gray-800 dark:text-gray-100 pl-4">Chinese</p>
                </div>
                <div class="flex px-8 mt-5">
                    <img alt="german flag" src="https://i.ibb.co/27c98hX/germa.png" tabindex="0" class="focus:outline-none w-5 h-5" />
                    <p tabindex="0" class="focus:outline-none text-sm leading-none text-gray-800 dark:text-gray-100 pl-4">German</p>
                </div>
            </div>
        </div>
    </body>
</html>
