<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />

        <title>Grid Card 10</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="w-full py-10">
            <div aria-label="card" class="container mx-auto px-6 flex items-start justify-center">
                <div class="w-full">
                    <dh-component>
                        <!-- Card is full width. Use in 12 col grid for best view. -->
                        <!-- Card code block start -->
                        <div class="mx-auto w-full p-5 lg:p-10 bg-white dark:bg-gray-800 shadow rounded">
                            <div class="flex flex-col lg:flex-row items-start lg:items-center mb-8">
                                <h1 tabindex="0" class="focus:outline-none mr-12 text-xl lg:text-2xl text-gray-800 dark:text-gray-100 font-bold lg:w-1/2">User Experience Revamp and Optimization</h1>
                                <div class="flex flex-col md:flex-row items-start md:items-center">
                                    <div tabindex="0" class="focus:outline-none mt-4 lg:mt-0 mr-0 xl:mr-8 text-sm bg-indigo-100 text-indigo-700 dark:text-indigo-600 rounded font-medium py-2 w-48 flex justify-center">Start Date: 22 Jun, 2020</div>
                                    <div tabindex="0" class="focus:outline-none mt-4 lg:mt-0 mr-0 lg:mr-4 xl:mr-8 text-sm bg-red-100 text-red-700 rounded font-medium py-2 w-48 flex justify-center">End Date: 03 Dec, 2020</div>
                                </div>
                            </div>
                            <div class="flex flex-col lg:flex-row items-start lg:items-center">
                                <div class="w-full lg:w-1/2 pr-0 lg:pr-48">
                                    <div class="flex items-center">
                                        <div class="w-12 h-12 rounded">
                                            <img class="w-full h-full overflow-hidden object-cover rounded object-center" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_28.png" alt="logo" />
                                        </div>
                                        <div class="ml-2">
                                            <a tabindex="0" class="cursor-pointer hover:text-gray-500 focus:text-gray-500 text-gray-800 dark:text-gray-100 focus:outline-none focus:underline"><h5 class=" font-medium text-base">Fitbit Incorporation</h5></a>
                                            <p tabindex="0" class="focus:outline-none text-gray-600 dark:text-gray-400 text-xs font-normal">San Diego, California</p>
                                        </div>
                                    </div>
                                    <p tabindex="0" class="focus:outline-none mt-5 text-sm text-gray-600 dark:text-gray-400 font-normal">The web has witnessed mammoth advances; however a website’s success still depends on just one thing: how users interact with it.</p>
                                </div>
                                <div class="lg:pl-8 w-full lg:w-1/2 flex flex-col lg:flex-row items-start lg:items-center">
                                    <div class="mr-12 flex lg:block items-center lg:mr-6 xl:mr-12 mt-5 lg:mt-0">
                                        <h2 tabindex="0" class="focus:outline-none text-gray-600 dark:text-gray-400 font-bold text-xl lg:text-2xl leading-6 mb-1 lg:text-center">24</h2>
                                      <a  class="text-gray-800 dark:text-gray-100 focus:outline-none "tabindex="0" >  <p class="ml-2 lg:ml-0  text-xl leading-5 text-center">Milestones</p></a>
                                    </div>
                                    <div class="mr-12 flex lg:block lg:mr-6 xl:mr-12 mt-5 lg:mt-0">
                                        <h2 tabindex="0" class="focus:outline-none text-gray-600 dark:text-gray-400 font-bold text-xl lg:text-2xl leading-6 mb-1 lg:text-center">03</h2>
                                       <a class="text-gray-800 dark:text-gray-100 focus:outline-none " tabindex="0 "> <p class="ml-2 lg:ml-0  text-xl leading-5 text-center">Teams Assigned</p></a>
                                    </div>
                                    <div class="mt-5 flex lg:block lg:mt-0">
                                        <h2 tabindex="0" class="focus:outline-none text-gray-600 dark:text-gray-400 font-bold text-xl lg:text-2xl leading-6 mb-1 lg:text-center">14</h2>
                                       <a class="text-gray-800 dark:text-gray-100 focus:outline-none" tabindex="0 "> <p class="ml-2 lg:ml-0  text-xl leading-5 text-center">Tasks Pending</p></a>
                                    </div>
                                </div>
                            </div>
                            <div class="relative">
                                <hr class="mt-8 mb-8 lg:mb-10 h-1 rounded bg-gray-200" />
                                <hr class="absolute top-0 h-1 w-2/3 rounded bg-indigo-400" />
                            </div>
                            <div class="flex flex-col lg:flex-row items-start lg:items-center">
                                <div class="flex flex-col lg:flex-row w-full lg:w-2/3 items-start lg:items-center mb-8 lg:mb-0">
                                    <div class="mr-24 flex lg:block flex-row-reverse items-center mb-4 lg:mb-0">
                                        <h3 tabindex="0" class="focus:outline-none text-indigo-700 dark:text-indigo-600 leading-6 text-lg">Earnings</h3>
                                        <h2 tabindex="0" class="focus:outline-none mr-2 lg:mr-0 text-gray-600 dark:text-gray-400 text-xl lg:text-2xl font-bold">$357,655</h2>
                                    </div>
                                    <div class="mr-24 flex lg:block flex-row-reverse items-center mb-4 lg:mb-0">
                                        <h3 tabindex="0" class="focus:outline-none text-indigo-700 dark:text-indigo-600 leading-6 text-lg">Expenses</h3>
                                        <h2 tabindex="0" class="focus:outline-none mr-2 lg:mr-0 text-gray-600 dark:text-gray-400 text-xl lg:text-2xl font-bold">$189,955</h2>
                                    </div>
                                    <div class="flex lg:block flex-row-reverse items-center">
                                        <h3 tabindex="0" class="focus:outline-none text-indigo-700 dark:text-indigo-600 leading-6 text-lg">Net Cashflow</h3>
                                        <h2 tabindex="0" class="focus:outline-none mr-2 lg:mr-0 text-gray-600 dark:text-gray-400 text-xl lg:text-2xl font-bold">$888,546</h2>
                                    </div>
                                </div>
                                <div class="flex items-center w-full lg:w-1/3 justify-start lg:justify-end">
                                    <div class="border-2 border-white dark:border-gray-700 shadow rounded-full w-10 h-10">
                                        <img tabindex="0"   class="focus:outline-none w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/webapp/layout/grid_cards/grid_card8.jpg" alt="girl avatar" />
                                    </div>
                                    <div class="-ml-4 border-2 border-white dark:border-gray-700 shadow rounded-full w-10 h-10">
                                        <img tabindex="0"  class="focus:outline-none w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/webapp/layout/grid_cards/grid_card9.jpg" alt="boy avatar" />
                                    </div>
                                    <div class="-ml-4 border-2 border-white dark:border-gray-700 shadow rounded-full w-10 h-10">
                                        <img tabindex="0"  class="focus:outline-none w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/webapp/layout/grid_cards/grid_card10.jpg" alt="girl avatar" />
                                    </div>
                                    <div class="-ml-4 border-2 border-white dark:border-gray-700 shadow rounded-full w-10 h-10">
                                        <img tabindex="0" class="focus:outline-none w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/webapp/layout/grid_cards/grid_card11.jpg" alt="girl avatar" />
                                    </div>
                                    <div class="-ml-4 border-2 border-white dark:border-gray-700 shadow rounded-full w-10 h-10">
                                        <img tabindex="0" class="focus:outline-none w-full h-full overflow-hidden object-cover rounded-full" src="https://dh-ui.s3.amazonaws.com/assets/webapp/layout/grid_cards/grid_card12.jpg" alt="boy avatar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card code block end -->
                    </dh-component>
                </div>
            </div>
        </div>
    </body>
</html>
