<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <title>Notifications</title>

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="h-80 py-8">
            <div class="relative mx-auto flex justify-center sm:justify-end h-full">
                <!--code for notification starts-->
                <div role="alert" class="sm:mr-6 xl:w-5/12 mx-auto absolute left-0 sm:left-auto right-0 sm:top-0 sm:w-6/12 md:w-3/5 w-11/12 bg-white shadow-lg rounded flex sm:flex-row flex-col pr-4 dark:bg-gray-800 transition duration-150 ease-in-out" id="notification">
                    <div tabindex="0" aria-label="success icon" role="img" class="focus:outline-none sm:p-6 p-2 ml-4 sm:ml-0 mt-4 sm:mt-0 flex items-center justify-center text-white bg-green-700 w-12 h-12 sm:h-auto sm:w-auto sm:rounded-tl sm:rounded-bl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="currentColor">
                            <path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-2.3-8.7l1.3 1.29 3.3-3.3a1 1 0 0 1 1.4 1.42l-4 4a1 1 0 0 1-1.4 0l-2-2a1 1 0 0 1 1.4-1.42z" />
                        </svg>
                    </div>
                    <div class="flex flex-col justify-center pl-4 sm:w-9/12 py-4">
                        <p tabindex="0" class="focus:outline-none text-lg text-gray-800 dark:text-gray-100 font-semibold pb-1">Action Completed</p>
                        <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 pb-2 font-normal">Congratulations. Your file has been downloaded successfully.</p>
                        <div class="flex">
                            <span tabindex="0" class="focus:outline-none focus:text-gray-800 text-sm text-green-700 hover:underline font-bold mr-2 cursor-pointer">View </span>
                            <span tabindex="0" class="focus:outline-none focus:text-gray-400 text-sm pl-2 text-gray-600 dark:text-gray-400 hover:underline cursor-pointer" onkeypress="closeModal()" onclick="closeModal()">Dismiss</span>
                        </div>
                    </div>
                </div>
                <script>
                    var Notification = document.getElementById("notification");
                    Notification.style.transform = "translateX(150%)";
                    Notification.classList.remove("hidden");
                    Notification.style.transform = "translateX(0%)";
                    function closeModal() {
                        Notification.style.transform = "translateX(150%)";
                        Notification.classList.remove("hidden");
                        setTimeout(function () {
                            Notification.style.transform = "translateX(0%)";
                        }, 1000);
                    }
                </script>
                <script src="./index.js"></script>
                <!--code for notification ends-->
            </div>
        </div>
    </body>
</html>
