<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>card-5</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900" style="min-height: 500px">
        <div class="flex items-center justify-center py-8 px-4">
            <!-- Please include the chartJs script in the head section of your webpage to make the chart work. -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
            <div class="sm:w-96 w-80 px-5 py-4 rounded shadow-lg dark:bg-gray-800 bg-white">
                <p tabindex="0" class="focus:outline-none text-lg font-bold leading-none text-gray-800 dark:text-gray-100">Performance</p>
                <div class="w-full pt-7 flex items-center justify-center">
                    <div class="h-full w-full">
                        <canvas id="myChart" width="250px"></canvas>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <div class="w-2 h-2 bg-purple-700 rounded-full"></div>
                            <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-purple-800 text-purple-700 hover:text-purple-800 hover:underline "><p class="text-xs leading-3  ml-1">HR</p></a>
                        </div>
                        <div class="flex items-center">
                            <div class="w-2 h-2 bg-pink-700 rounded-full"></div></a>
                            <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-pink-800 text-pink-700 hover:text-pink-800 hover:underline "><p class="text-xs leading-3  ml-1">Marketing</p></a>
                        </div>
                        <div class="flex items-center">
                            <div class="w-2 h-2 bg-indigo-700 rounded-full"></div>
                            <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-indigo-800 text-indigo-700 hover:text-indigo-800 hover:underline "><p class="text-xs leading-3  ml-1">Finance</p></a>
                        </div>
                        <div class="flex items-center">
                            <div class="w-2 h-2 bg-yellow-700 rounded-full"></div>
                            <a href="javascript:void(0)" class="focus:outline-none focus:underline focus:text-yellow-800 text-yellow-700 hover:text-yellow-800 hover:underline "><p class="text-xs leading-3 ml-1">Operations</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var config = {
                type: "doughnut",
                data: {
                    datasets: [
                        { borderWidth: 0, data: [76, 24], backgroundColor: ["#6366F1"] },
                        {
                            weight: 0.6,
                        },
                        { borderWidth: 0, data: [53, 47], backgroundColor: ["#A855F7"] },
                        {
                            weight: 0.6,
                        },
                        { borderWidth: 0, data: [60, 40], backgroundColor: ["#EC4899"] },
                        {
                            weight: 0.6,
                        },
                        {
                            borderWidth: 0,
                            data: [33, 67],
                            backgroundColor: ["#EAB308"],

                            label: "Doughnut 2",
                        },
                    ],
                    labels: ["Info 1", "Info 2", "Info 3"],
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    },

                    animation: {
                        animateScale: true,
                        animateRotate: true,
                    },
                },
            };
            window.onload = function () {
                var ctx = document.getElementById("myChart").getContext("2d");
                window.myDoughnut = new Chart(ctx, config);
            };
        </script>
        <script src="./index.js"></script>
    </body>
</html>
