<div class="flex items-center justify-center py-8 px-4">
    <!-- Please include the chartJs script in the head section of your webpage to make the chart work.
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>  -->
    <div class="sm:w-96 w-80 px-5 py-4 rounded shadow-lg dark:bg-gray-800 bg-white">
        <p class="text-lg font-bold leading-none text-gray-800 dark:text-gray-100">Performance</p>
        <div class="w-full pt-7 flex items-center justify-center">
            <div class="h-full w-full">
                <canvas id="myChart" width="250px"></canvas>
            </div>
        </div>
        <div class="pt-6">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <div class="w-2 h-2 bg-purple-500 rounded-full"></div>
                    <p class="text-xs leading-3 text-purple-500 ml-1">HR</p>
                </div>
                <div class="flex items-center">
                    <div class="w-2 h-2 bg-pink-500 rounded-full"></div>
                    <p class="text-xs leading-3 text-pink-500 ml-1">Marketing</p>
                </div>
                <div class="flex items-center">
                    <div class="w-2 h-2 bg-indigo-500 rounded-full"></div>
                    <p class="text-xs leading-3 text-indigo-500 ml-1">Finance</p>
                </div>
                <div class="flex items-center">
                    <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                    <p class="text-xs leading-3 text-yellow-500 ml-1">Operations</p>
                </div>
            </div>
        </div>
    </div>
</div>
