<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-8 px-4">
            <div  class="w-80">
                <div  class="flex items-center rounded-t-3xl justify-between bg-white p-6">
                    <button aria-label="slide backward" class="hover:bg-gray-400 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bg-gray-200 w-8 h-8 rounded-full flex items-center cursor-pointer justify-center" id="prev2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1F2937" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="15 6 9 12 15 18" />
                        </svg>
                    </button>
                    <div class="slider2">
                        <div class="slide-ana2">
                            <div>
                                <img alt="phone" src="https://i.ibb.co/bXSwsnN/pngfind-1.png" class="w-40 h-56" />
                            </div>
                            <div style="transform: translateX(200%)">
                                <img alt="phone" src="https://i.ibb.co/bXSwsnN/pngfind-1.png" class="w-40 h-56" />
                            </div>
                            <div style="transform: translateX(400%)">
                                <img alt="phone" src="https://i.ibb.co/bXSwsnN/pngfind-1.png" class="w-40 h-56" />
                            </div>
                        </div>
                    </div>
                    <button aria-label="slide forward" class="hover:bg-gray-400 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bg-gray-200 w-8 h-8 rounded-full flex items-center cursor-pointer justify-center" id="next2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1F2937" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="9 6 15 12 9 18" />
                        </svg>
                    </button>
                </div>
                <div class="border-t p-6 bg-white dark:bg-gray-800 rounded-b-3xl">
                    <a tabindex="0" class="cursor-pointer focus:underline focus:outline-none focus:text-gray-900 hover:text-gray-900 text-base font-medium leading-4 text-left text-gray-500 dark:text-gray-400">IPhone 11 Pro Max</a>
                    <h3 class="text-2xl font-semibold leading-6 text-left pt-3 text-gray-800 dark:text-gray-100">$949.99</h3>
                    <div class="flex items-center pt-3">
                        <div class="pr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                                <path
                                    d="M6.52447 0.463524C6.67415 0.00286841 7.32585 0.00286996 7.47553 0.463525L8.68386 4.18237C8.75079 4.38838 8.94277 4.52786 9.15938 4.52786H13.0696C13.554 4.52786 13.7554 5.14767 13.3635 5.43237L10.2001 7.73075C10.0248 7.85807 9.95149 8.08375 10.0184 8.28976L11.2268 12.0086C11.3764 12.4693 10.8492 12.8523 10.4573 12.5676L7.29389 10.2693C7.11865 10.1419 6.88135 10.1419 6.70611 10.2693L3.54267 12.5676C3.15081 12.8523 2.62357 12.4693 2.77325 12.0086L3.98157 8.28976C4.04851 8.08375 3.97518 7.85807 3.79994 7.73075L0.636495 5.43237C0.244639 5.14767 0.446028 4.52786 0.93039 4.52786H4.84062C5.05723 4.52786 5.24921 4.38838 5.31614 4.18237L6.52447 0.463524Z"
                                    fill="#4F46E5"
                                />
                            </svg>
                        </div>
                        <div class="pr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                                <path
                                    d="M6.52447 0.463524C6.67415 0.00286841 7.32585 0.00286996 7.47553 0.463525L8.68386 4.18237C8.75079 4.38838 8.94277 4.52786 9.15938 4.52786H13.0696C13.554 4.52786 13.7554 5.14767 13.3635 5.43237L10.2001 7.73075C10.0248 7.85807 9.95149 8.08375 10.0184 8.28976L11.2268 12.0086C11.3764 12.4693 10.8492 12.8523 10.4573 12.5676L7.29389 10.2693C7.11865 10.1419 6.88135 10.1419 6.70611 10.2693L3.54267 12.5676C3.15081 12.8523 2.62357 12.4693 2.77325 12.0086L3.98157 8.28976C4.04851 8.08375 3.97518 7.85807 3.79994 7.73075L0.636495 5.43237C0.244639 5.14767 0.446028 4.52786 0.93039 4.52786H4.84062C5.05723 4.52786 5.24921 4.38838 5.31614 4.18237L6.52447 0.463524Z"
                                    fill="#4F46E5"
                                />
                            </svg>
                        </div>
                        <div class="pr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                                <path
                                    d="M6.52447 0.463524C6.67415 0.00286841 7.32585 0.00286996 7.47553 0.463525L8.68386 4.18237C8.75079 4.38838 8.94277 4.52786 9.15938 4.52786H13.0696C13.554 4.52786 13.7554 5.14767 13.3635 5.43237L10.2001 7.73075C10.0248 7.85807 9.95149 8.08375 10.0184 8.28976L11.2268 12.0086C11.3764 12.4693 10.8492 12.8523 10.4573 12.5676L7.29389 10.2693C7.11865 10.1419 6.88135 10.1419 6.70611 10.2693L3.54267 12.5676C3.15081 12.8523 2.62357 12.4693 2.77325 12.0086L3.98157 8.28976C4.04851 8.08375 3.97518 7.85807 3.79994 7.73075L0.636495 5.43237C0.244639 5.14767 0.446028 4.52786 0.93039 4.52786H4.84062C5.05723 4.52786 5.24921 4.38838 5.31614 4.18237L6.52447 0.463524Z"
                                    fill="#4F46E5"
                                />
                            </svg>
                        </div>
                        <div class="pr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                                <path
                                    d="M6.52447 0.463524C6.67415 0.00286841 7.32585 0.00286996 7.47553 0.463525L8.68386 4.18237C8.75079 4.38838 8.94277 4.52786 9.15938 4.52786H13.0696C13.554 4.52786 13.7554 5.14767 13.3635 5.43237L10.2001 7.73075C10.0248 7.85807 9.95149 8.08375 10.0184 8.28976L11.2268 12.0086C11.3764 12.4693 10.8492 12.8523 10.4573 12.5676L7.29389 10.2693C7.11865 10.1419 6.88135 10.1419 6.70611 10.2693L3.54267 12.5676C3.15081 12.8523 2.62357 12.4693 2.77325 12.0086L3.98157 8.28976C4.04851 8.08375 3.97518 7.85807 3.79994 7.73075L0.636495 5.43237C0.244639 5.14767 0.446028 4.52786 0.93039 4.52786H4.84062C5.05723 4.52786 5.24921 4.38838 5.31614 4.18237L6.52447 0.463524Z"
                                    fill="#4F46E5"
                                />
                            </svg>
                        </div>
                        <div class="pr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                                <path
                                    d="M6.52447 0.463524C6.67415 0.00286841 7.32585 0.00286996 7.47553 0.463525L8.68386 4.18237C8.75079 4.38838 8.94277 4.52786 9.15938 4.52786H13.0696C13.554 4.52786 13.7554 5.14767 13.3635 5.43237L10.2001 7.73075C10.0248 7.85807 9.95149 8.08375 10.0184 8.28976L11.2268 12.0086C11.3764 12.4693 10.8492 12.8523 10.4573 12.5676L7.29389 10.2693C7.11865 10.1419 6.88135 10.1419 6.70611 10.2693L3.54267 12.5676C3.15081 12.8523 2.62357 12.4693 2.77325 12.0086L3.98157 8.28976C4.04851 8.08375 3.97518 7.85807 3.79994 7.73075L0.636495 5.43237C0.244639 5.14767 0.446028 4.52786 0.93039 4.52786H4.84062C5.05723 4.52786 5.24921 4.38838 5.31614 4.18237L6.52447 0.463524Z"
                                    fill="#4F46E5"
                                />
                            </svg>
                        </div>
                        <p class="text-base font-medium leading-4 text-indigo-600">5.0</p>
                    </div>
                    <button class="focus:opacity-75 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-indigo-700 bg-transparent border-indigo-700 dark:text-gray-100 dark:bg-indigo-700 border px-4 py-2 text-sm font-medium leading-3 rounded focus:outline-none mt-5 hover:opacity-50">Edit Product</button>
                </div>
            </div>
        </div>
        <style>
            /* Slider css below */
            .slider2 {
                width: 59%;
                height: 242px;
                padding-top: 14px;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
            }
            .slide-ana2 {
                height: 100%;
            }
            .slide-ana2 > div {
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all 1s;
            }
            @media (min-width: 400px) and (max-width: 500px) {
                .slider2 {
                    height: 272px;
                }
            }
            @media (min-width: 320px) and (max-width: 391px) {
                .slider2 {
                    height: 272px;
                }
            }
            @media (min-width: 392px) and (max-width: 598px) {
                .slider2 {
                    height: 256px;
                }
            }
            @media (min-width: 599px) and (max-width: 1023px) {
                .slider2 {
                    height: 270px;
                }
            }
        </style>
        <script>
            // Testimonial carousel
            let slides2 = document.querySelectorAll(".slide-ana2>div");
            let slideSayisi2 = slides2.length;
            let prev2 = document.getElementById("prev2");
            let next2 = document.getElementById("next2");
            for (let index = 0; index < slides2.length; index++) {
                const element = slides2[index];
                element.style.transform = "translateX(" + 200 * index + "%)";
            }
            let loop2 = 0 + 1000 * slideSayisi2;

            function goNext2() {
                loop2++;
                for (let index = 0; index < slides2.length; index++) {
                    const element = slides2[index];
                    element.style.transform = "translateX(" + 200 * (index - (loop2 % slideSayisi2)) + "%)";
                }
            }

            function goPrev2() {
                loop2--;
                for (let index = 0; index < slides2.length; index++) {
                    const element = slides2[index];
                    element.style.transform = "translateX(" + 200 * (index - (loop2 % slideSayisi2)) + "%)";
                }
            }

            next2.addEventListener("click", goNext2);
            prev2.addEventListener("click", goPrev2);
        </script>
        <script src="./index.js"></script>
    </body>
</html>
