<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 90</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-8 sm:px-6 px-4" style="min-height: 400px">
        <div>
            <div class="max-w-sm rounded shadow bg-white dark:bg-gray-800 px-6 py-5">
                <!-- Please include this script in the head section of your webpage to make the chart work.-->
                <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
                <div class="sm:flex items-center">
                    <div>
                        <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-4 text-gray-800 dark:text-gray-100">Earning</p>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400 pt-4 pb-1">This Month</p>
                        <p tabindex="0" class="focus:outline-none text-base font-medium leading-none text-gray-800 dark:text-gray-100">$4055.56</p>
                        <p tabindex="0" class="focus:outline-none w-44 text-xs leading-none text-gray-500 pt-5 dark:text-gray-400">68.2% more earnings than last month.</p>
                    </div>

                    <div class="ml-5 mr-5 sm:mt-0 mt-5 relative flex items-center jutsify-center">
                        <canvas tabindex="0" class="focus:outline-none" aria-label="chart" role="img" id="myChart" width="110" height="110"></canvas>
                        <div class="absolute flex items-center justify-center flex-col inset-0">
                            <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-tight text-gray-800 dark:text-gray-100">38%</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-medium leading-3 text-gray-500 dark:text-gray-400">Sales</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var ctx = document.getElementById("myChart").getContext("2d");
            var myChart = new Chart(ctx, {
                type: "doughnut",
                data: {
                    labels: ["Employees", "Customers", "Vendors"],
                    datasets: [
                        {
                            borderColor: ["#A7F3D0 ", "#059669", "#34D399"],
                            backgroundColor: ["#A7F3D0 ", "#059669", "#34D399"],
                            data: [13, 24, 23],
                        },
                    ],
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true,
                    },
                    cutoutPercentage: 70,
                },
            });
        </script>
        <script src="./index.js"></script>
    </body>
</html>
