<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />

        <title>Tooltip 1</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-100" style="font-family: 'Lato', sans-serif">
        <div class="py-10 h-full w-full">
            <div class="container mx-auto px-6 flex flex-col items-start pl-12 md:pl-0 md:items-center">
                <div class="h-0 md:h-12"></div>
                <dh-component>
                    <div class="flex-col md:flex-row flex items-center md:justify-center">
                        <!--Code Block for white tooltip starts-->
                        <button  aria-label="tooltip 1" onfocus="showTooltip(1)" onblur="hideTooltip(1)" class="focus:ring-2 focus:bg-gray-200 focus:ring-offset-2 focus:ring-gray-400 focus:outline-none rounded-full relative mt-20 md:mt-0" onmouseover="showTooltip(1)" onmouseout="hideTooltip(1)">
                            <div id="tooltip1" role="tooltip" class="z-20 transition duration-150 ease-in-out bottom-0 mb-8 absolute shadow-lg pt-4 pr-2 pl-3 pb-5 bg-white text-gray-600 rounded w-40">
                                <svg class="absolute bottom-0 -mb-2" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Tooltips-" transform="translate(-84.000000, -203.000000)" fill="#FFFFFF">
                                            <g id="Group-3-Copy" transform="translate(76.000000, 145.000000)">
                                                <polygon class="shadow" id="Triangle" transform="translate(16.000000, 62.000000) rotate(-180.000000) translate(-16.000000, -62.000000) " points="16 58 24 66 8 66"></polygon>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p class="text-xs text-gray-600 leading-4">This information will be used for personalization</p>
                            </div>
                            <div class=" cursor-pointer">
                                <svg aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <circle cx="12" cy="12" r="9" />
                                    <line x1="12" y1="8" x2="12.01" y2="8" />
                                    <polyline points="11 12 12 12 12 16 13 16" />
                                </svg>
                            </div>
                        </button>
                        <!--Code Block for white tooltip ends-->

                        <!--Code Block for indigo tooltip starts-->
                        <button aria-label="tooltip 2" onfocus="showTooltip(2)" onblur="hideTooltip(2)" class="rounded-full focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 focus:outline-none relative my-20 md:my-0 md:mx-40" onmouseover="showTooltip(2)" onmouseout="hideTooltip(2)">
                            <div id="tooltip2" role="tooltip" class="z-20 transition duration-150 ease-in-out bottom-0 mb-8 shadow-lg pt-4 pr-2 pl-3 pb-5 bg-indigo-700 text-gray-600 rounded w-40 absolute">
                                <svg class="absolute bottom-0 -mb-2" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Tooltips-" transform="translate(-84.000000, -203.000000)" fill="#4c51bf">
                                            <g id="Group-3-Copy" transform="translate(76.000000, 145.000000)">
                                                <polygon class="shadow" id="Triangle" transform="translate(16.000000, 62.000000) rotate(-180.000000) translate(-16.000000, -62.000000) " points="16 58 24 66 8 66"></polygon>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p class="text-xs text-white leading-4">This information will be used for personalization</p>
                            </div>
                            <div class=" cursor-pointer">
                                <svg aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <circle cx="12" cy="12" r="9" />
                                    <line x1="12" y1="8" x2="12.01" y2="8" />
                                    <polyline points="11 12 12 12 12 16 13 16" />
                                </svg>
                            </div>
                        </button>
                        <!--Code Block for indigo tooltip ends-->

                        <!--Code Block for gray tooltip starts-->
                        <button aria-label="tooltip 3" onfocus="showTooltip(3)" onblur="hideTooltip(3)" class="rounded-full focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 focus:outline-none relative" onmouseover="showTooltip(3)" onmouseout="hideTooltip(3)">
                            <div id="tooltip3" role="tooltip" class="z-20 transition duration-150 ease-in-out bottom-0 mb-8 absolute shadow-lg pt-4 pr-2 pl-3 pb-5 bg-gray-800 text-gray-600 rounded w-40">
                                <svg class="absolute bottom-0 -mb-2" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Tooltips-" transform="translate(-84.000000, -203.000000)" fill="#2D3748">
                                            <g id="Group-3-Copy" transform="translate(76.000000, 145.000000)">
                                                <polygon class="shadow" id="Triangle" transform="translate(16.000000, 62.000000) rotate(-180.000000) translate(-16.000000, -62.000000) " points="16 58 24 66 8 66"></polygon>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p class="text-xs text-white leading-4">This information will be used for personalization</p>
                            </div>
                            <div class=" cursor-pointer">
                                <svg aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <circle cx="12" cy="12" r="9" />
                                    <line x1="12" y1="8" x2="12.01" y2="8" />
                                    <polyline points="11 12 12 12 12 16 13 16" />
                                </svg>
                            </div>
                        </button>
                        <!--Code Block for gray tooltip ends-->
                    </div>
                </dh-component>
                <div class="h-12"></div>
            </div>
        </div>
        <script>
            function showTooltip(flag) {
                switch (flag) {
                    case 1:
                        document.getElementById("tooltip1").classList.remove("hidden");
                        break;
                    case 2:
                        document.getElementById("tooltip2").classList.remove("hidden");
                        break;
                    case 3:
                        document.getElementById("tooltip3").classList.remove("hidden");
                        break;
                }
            }
            function hideTooltip(flag) {
                switch (flag) {
                    case 1:
                        document.getElementById("tooltip1").classList.add("hidden");
                        break;
                    case 2:
                        document.getElementById("tooltip2").classList.add("hidden");
                        break;
                    case 3:
                        document.getElementById("tooltip3").classList.add("hidden");
                        break;
                }
            }
        </script>
        <script src="./index.js"></script>
    </body>
</html>
