<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 17</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center px-4 py-8">
            <div class="bg-white dark:bg-gray-800 md:w-96 w-full rounded px-5 pt-4 pb-8 shadow">
                <div class="flex items-center justify-between">
                    <p tabindex="0" class="focus:outline-none text-lg font-bold leading-5 text-gray-800 dark:text-gray-100">Customer Tickets</p>
                    <p tabindex="0" class="focus:outline-none text-xs leading-3 text-right text-red-700">2.3% increase</p>
                </div>
                <div class="flex items-end justify-between mt-6">
                    <div>
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Madisen</p>
                        <div tabindex="0" class="focus:outline-none flex items-center text-xs leading-4 text-gray-500 dark:text-gray-400 mt-1.5">
                            <p>2hrs ago</p>
                            <div class="w-1 h-1 bg-gray-200 mx-3 rounded-full"></div>
                            <p  class="text-xs leading-3 text-gray-500 dark:text-gray-400">ID-12-570</p>
                        </div>
                    </div>
                    <button class="focus:outline-none focus:ring-2 focus:ring-indigo-600 dark:bg-gray-700 bg-gray-100 rounded py-2 px-2 hover:bg-gray-200">
                        <p class="text-xs leading-3 dark:text-gray-100 text-indigo-700">Resolve</p>
                    </button>
                </div>
                <div class="flex items-end justify-between mt-5">
                    <div>
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Tillman</p>
                        <div tabindex="0" class="focus:outline-none flex items-center text-xs leading-4 text-gray-500 dark:text-gray-400 mt-1.5">
                            <p>4hrs ago</p>
                            <div class="w-1 h-1 bg-gray-200 mx-3 rounded-full"></div>
                            <p class="text-xs leading-3 text-gray-500 dark:text-gray-400">ID-10-329</p>
                        </div>
                    </div>
                    <button class="focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-ring-indigo-600  dark:bg-gray-700 bg-gray-100 rounded py-2 px-2 hover:bg-gray-200">
                        <p class="text-xs leading-3 dark:text-gray-100 text-indigo-700">Resolve</p>
                    </button>
                </div>
                <div class="flex items-end justify-between mt-5">
                    <div>
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-800 dark:text-gray-100">Luciano</p>
                        <div tabindex="0" class="focus:outline-none flex items-center text-xs leading-4 text-gray-500 dark:text-gray-400 mt-1.5">
                            <p>7hrs ago</p>
                            <div class="w-1 h-1 bg-gray-200 mx-3 rounded-full"></div>
                            <p class="text-xs leading-3 text-gray-500 dark:text-gray-400">ID-11-120</p>
                        </div>
                    </div>
                    <button class="focus:outline-none focus:ring-2 focus:ring-indigo-600 dark:bg-gray-700 bg-gray-100 rounded py-2 px-2 hover:bg-gray-200">
                        <p class="text-xs leading-3 dark:text-gray-100 text-indigo-700">Resolve</p>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
