<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Block 5</title>

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="py-10">
            <div class="container mx-auto px-6 flex items-start justify-center">
                <div class="w-full md:w-8/12">
                    <!-- Card is full width. Use in 8 col grid for best view. -->
                    <!-- Card code block start -->
                    <dh-component>
                        <div aria-label="card" tabindex="0" class="focus:outline-none mx-auto bg-white dark:bg-gray-800 shadow rounded w-full">
                            <div class="py-5 px-10 border-b border-gray-200 flex justify-between items-center">
                                <p tabindex="0" class="focus:outline-none font-bold text-lg text-gray-800 dark:text-gray-100">Publishers</p>
                                <button class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-6 py-2 text-xs focus:outline-none">Add New</button>
                            </div>
                            <div class="py-10 px-6 flex flex-wrap justify-between">
                                <div class="xl:w-1/4 sm:w-2/5 w-full mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_8.png" alt="new york times logo" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">The New York Times</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                                <div class="xl:w-1/4 sm:w-2/5 w-full mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_9.png" alt="Harvard logo" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">Harvard Business Review</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                                <div class="xl:w-1/4 sm:w-2/5 w-full mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_10.png" alt="Business Insider logo" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">Business Insider US</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                                <div class="xl:w-1/4 sm:w-2/5 w-full mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_12.png" alt="boston consulting group logo" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">Boston Consulting Group</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                                <div class="xl:w-1/4 sm:w-2/5 w-full xl:mb-0 mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_15.png" alt="New york time logo" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">The New York Times</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                                <div class="xl:w-1/4 sm:w-2/5 w-full xl:mb-0 mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_16.png" alt="harvard logo" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">Harvard Business Review</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                                <div class="xl:w-1/4 sm:w-2/5 w-full xl:mb-0 mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_17.png" alt="Business insider logo" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">Business Insider US</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                                <div class="xl:w-1/4 sm:w-2/5 w-full xl:mb-0 mb-12 cursor-pointer">
                                    <div class="flex flex-col items-center">
                                        <div class="mb-3 h-20 w-20">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_18.png" alt="boston consulting group" tabindex="0" class="focus:outline-none h-full w-full object-cover rounded" />
                                        </div>
                                        <p tabindex="0" class="focus:outline-none text-sm mb-1 text-gray-800 dark:text-gray-100">Boston Consulting Group</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Articles: 25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dh-component>
                    <!-- Card code block end -->
                </div>
            </div>
        </div>
    </body>
</html>
