<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile Summary - Grid card</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
    </head>
    <body class="bg-gray-300 py-8 px-4">
        <div class="w-full flex items-center justify-center">
            <div class="xl:w-1/4 sm:w-1/2 w-full 2xl:w-1/5 flex flex-col items-center py-16 md:py-12 bg-gradient-to-r from-indigo-700 to-purple-500 rounded-lg">
                <div class="w-full flex items-center justify-center">
                    <div class="flex flex-col items-center">
                        <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/templates/olympus/profile.png" alt="man avatar" />
                        <p tabindex="0" class="focus:outline-none mt-2 text-xs sm:text-sm md:text-base font-semibold text-center text-white">Ricardo Boveta</p>
                    </div>
                </div>
                <div class="flex items-center mt-7">
                    <div class="">
                        <p tabindex="0" class="focus:outline-none text-xs text-gray-300">Products</p>
                        <p tabindex="0" class="focus:outline-none mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">28</p>
                    </div>
                    <div class="ml-12">
                        <p tabindex="0" class="focus:outline-none text-xs text-gray-300">Revenue</p>
                        <p tabindex="0" class="focus:outline-none mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">$2890</p>
                    </div>
                    <div class="ml-12">
                        <p tabindex="0" class="focus:outline-none text-xs text-gray-300">Average</p>
                        <p tabindex="0" class="focus:outline-none mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">$169</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
