<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component-28</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="md:w-96 rounded shadow-lg p-5 bg-indigo-700">
                <p class="text-2xl font-bold leading-none text-white pt-7">Startup Culture</p>
                <p class="pt-4 mb-5 text-sm leading-5 text-white">How technology catapulted innovation in two decades</p>
                <a tabindex="0" role="link" class="focus:outline-none focus:underline focus:text-white hover:underline hover:text-white mt-7 text-xs leading-3 text-indigo-200">San Diego, California</a>
                <p class="text-xs leading-3 text-white pt-2">11:30 PM, 12th February 2021</p>
                <div class="flex items-center w-full justify-end relative">
                    <div class="w-16 h-16 flex items-center justify-center bg-white rounded-full opacity-50"></div>
                    <button aria-label="open" class="hover:opacity-75 focus:opacity-75 focus:outline-none focus:ring-2 focus:offset-2 focus:ring-indigo-700 w-12 h-12 mr-2 flex items-center cursor-pointer justify-center bg-white rounded-full absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4338CA" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="15" y1="16" x2="19" y2="12" />
                            <line x1="15" y1="8" x2="19" y2="12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
