<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>component-23</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="md:w-96 rounded shadow-lg py-4 px-5 bg-white dark:bg-gray-800">
                <img alt="img" src="https://i.ibb.co/PZ5xwTG/Rectangle-362.png" class="w-full" />
                <h1 class="text-lg font-bold leading-6 text-black dark:text-gray-100 pt-3">How minimalism has changed the world of design</h1>
                <div class="pt-3 flex items-center justify-between">
                    <a tabindex="0" class="focus:outline-none focus:text-blue-900 hover:text-blue-900 text-xs leading-3 underline cursor-pointer text-blue-700">Read article</a>
                    <div class="flex items-center">
                        <button aria-label="save" class="focus:outline-none focus:ring-2 focus:ring-offset-2 hover:opacity-75 focus:ring-indigo-700 rounded-full mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4B5563" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
                            </svg>
                        </button>
                        <button aria-label="like" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-700 hover:opacity-75 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EF4444" fill="#EF4444" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
