<div class="container mx-auto pt-16">
    <div class="xl:w-full w-11/12 mx-auto">
        <h1 class="text-gray-800 font-extrabold xl:text-5xl text-3xl mb-4 text-center xl:text-left md:text-left lg:text-left">Hear From Our Customers</h1>
        <p class="text-xl xl:text-left md:text-left lg:text-left md:w-full text-center xl:w-2/3 lg:w-2/3 w-11/12 mx-auto xl:mx-0 lg:mx-0 text-gray-600">You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change and click save.</p>
    </div>
    <div class="flex flex-wrap mt-10 justify-between w-full md:w-11/12 md:mx-auto xl:mx-0 xl:w-full">
        <div class="xl:w-3/4 lg:w-3/4 md:w-8/12 w-11/12 mx-auto xl:mx-0 lg:mx-0 md:ml-0 shadow-md border border-gray-200 p-8 rounded">
            <p class="pb-8 text-base text-gray-800">I just wanted to share a quick note and let you know that you guys do a really good job. I’m glad I decided to work with you. It’s really great how easy your websites are to update and manage. I never have any problem at all.</p>
            <p class="text-base text-gray-800">My new site is so much faster and easier to work with than my old site. It used to take me an hour or more to update a page and I would still sometimes screw things up.</p>
            <div class="mt-8">
                <p class="text-base text-gray-800 font-bold pb-1">- Andres Berlin</p>
                <p class="text-sm text-gray-600 pl-2">VP, Talent Management</p>
            </div>
            <div class="flex items-center mt-8">
                <div class="h-8 w-8">
                    <img src="https://cdn.tuk.dev/assets/marketing/page_sections/testimonials_section/testimonial6.jpg" alt="" class="h-full w-full object-cover rounded-md shadow" />
                </div>
                <p class="text-sm ml-2">Twitter Inc.</p>
            </div>
        </div>

        <div class="xl:w-1/4 lg:w-1/4 md:w-1/4 flex items-end xl:justify-end lg:justify-end md:justify-end sm:justify-center justify-center xl:pl-8 lg:pl-8 w-11/12 mx-auto xl:mx-0 lg:mx-0 mt-2">
            <div class="h-64 w-64">
                <img src="https://cdn.tuk.dev/assets/photo-1567290329751-0700a37da0af.jfif" alt="" class="rounded h-full w-full object-cover shadow" />
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mt-10 xl:justify-between lg:justify-around md:justify-center justify-around xl:w-full lg:w-11/12 w-11/12 mx-auto xl:mx-0 lg:mx-auto">
        <button class="bg-white shadow mb-2 xl:mb-0 lg:mb-0 rounded flex items-center justify-center h-24 w-40 cursor-pointer border border-transparent focus:border-gray-300 focus:shadow-md focus:outline-none">
            <img src="https://cdn.tuk.dev/assets/adidas-gray.png" alt="" />
        </button>
        <button class="bg-white shadow mb-2 xl:mb-0 rounded flex items-center justify-center h-24 w-40 cursor-pointer border border-transparent focus:border-gray-300 focus:shadow-md focus:outline-none">
            <img src="https://cdn.tuk.dev/assets/mini-gray.png" alt="" />
        </button>
        <button class="bg-white shadow mb-2 xl:mb-0 rounded flex items-center justify-center h-24 w-40 cursor-pointer border border-transparent focus:border-gray-300 focus:shadow-md focus:outline-none">
            <img src="https://cdn.tuk.dev/assets/channel-gray.png" alt="" />
        </button>
        <button class="bg-white shadow mb-2 xl:mb-0 rounded flex items-center justify-center h-24 w-40 cursor-pointer border border-transparent focus:border-gray-300 focus:shadow-md focus:outline-none">
            <img src="https://cdn.tuk.dev/assets/gs1-gray.png" alt="" />
        </button>
        <button class="bg-white shadow mb-2 xl:mb-0 rounded flex items-center justify-center h-24 w-40 cursor-pointer border border-transparent focus:border-gray-300 focus:shadow-md focus:outline-none">
            <img src="https://cdn.tuk.dev/assets/Twitter.png" alt="" />
        </button>
        <button class="bg-white shadow mb-2 xl:mb-0 rounded flex items-center justify-center h-24 w-40 cursor-pointer border border-transparent focus:border-gray-300 focus:shadow-md focus:outline-none">
            <img src="https://cdn.tuk.dev/assets/toyota-gray.png" alt="" />
        </button>
    </div>
</div>
