<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Stats avg - Grid Cards</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
    </head>
    <body class="flex items-center justify-center px-4 py-8">
        <div class="md:w-80 shadow rounded-lg flex flex-col items-center w-full">
            <div class="w-full flex items-center justify-center py-7 border-b border-gray-200">
                <div class="flex flex-col items-center">
                    <p tabindex="0" class="focus:outline-none text-sm md:text-base font-medium leading-none text-center text-gray-500">Performance Average</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl 2xl:text-2xl font-bold leading-normal text-center text-gray-800 mt-3">65%</p>
                </div>
            </div>
            <div class="w-full flex items-center justify-center py-7 border-b border-gray-200">
                <div class="flex flex-col items-center">
                    <p tabindex="0" class="focus:outline-none text-sm md:text-base font-medium leading-none text-center text-gray-500">Projects</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl 2xl:text-2xl font-bold leading-normal text-center text-gray-800 mt-3">09</p>
                </div>
            </div>
            <div class="w-full flex items-center justify-center py-7 border-b border-gray-200">
                <div class="flex flex-col items-center">
                    <p tabindex="0" class="focus:outline-none text-sm md:text-base font-medium leading-none text-center text-gray-500">Average first response time</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl 2xl:text-2xl font-bold leading-normal text-center text-gray-800 mt-3">33m</p>
                </div>
            </div>
            <div class="w-full flex items-center justify-center py-7 border-b border-gray-200">
                <div class="flex flex-col items-center">
                    <p tabindex="0" class="focus:outline-none text-sm md:text-base font-medium leading-none text-center text-gray-500">Average response time</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl 2xl:text-2xl font-bold leading-normal text-center text-gray-800 mt-3">3h 8m</p>
                </div>
            </div>
            <div class="w-full flex items-center justify-center py-7">
                <div class="flex flex-col items-center">
                    <p tabindex="0" class="focus:outline-none text-sm md:text-base font-medium leading-none text-center text-gray-500">Target Achievement</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl 2xl:text-2xl font-bold leading-normal text-center text-gray-800 mt-3">80%</p>
                </div>
            </div>
        </div>
    </body>
</html>
