<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Block 2</title>

        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="py-10">
            <div class="container mx-auto px-6 flex items-start justify-center">
                <div class="w-full md:w-1/2">
                    <dh-component>
                        <!-- Card is full width. Use in 6 col grid for best view. -->
                        <!-- Card code block start -->
                        <div class="mx-auto bg-white dark:bg-gray-800 shadow p-8 rounded w-full">
                            <div class="flex items-center pb-5">
                                <div class="h-12 w-12">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_7.png" alt="logo" class="rounded shadow h-full w-full object-cover" />
                                </div>
                                <div class="pl-3">
                                    <a tabindex="0" role="link" class="focus:underline focus:text-indigo-600 focus:outline-none text-lg font-bold text-gray-800 dark:text-gray-100">The Economist</a>
                                    <p class="text-yellow-400 text-sm">&#9733;&#9733;&#9733;&#9733;<span class="text-gray-200">&#9733;</span></p>
                                </div>
                            </div>
                            <p class="pb-5 text-sm leading-6 text-gray-600 dark:text-gray-400">Between social media and content marketing and ad campaigns and brand reputation management, marketing can feel chaotic. Sometimes, though, all we need to see is a quick quote that cuts right to the point of what we’re trying to accomplish.</p>
                            <p class="pb-3 text-sm text-gray-800 dark:text-gray-100 font-medium">Contributions In</p>
                            <div class="flex xl:w-2/3 lg:w-2/3 md:w-2/3 w-full">
                                <p class="text-sm text-indigo-700 dark:text-indigo-600 font-medium flex">
                                    <a tabindex="0" class="focus:outline-none focus:underline focus:text-black hover:text-black hover:underline pr-2 cursor-pointer">Home</a> <span>|</span><a tabindex="0" class="focus:outline-none focus:underline focus:text-black hover:text-black hover:underline px-2 cursor-pointer">Work</a> <span>|</span> <a tabindex="0" class="focus:outline-none focus:underline focus:text-black hover:text-black hover:underline px-2 cursor-pointer">Family</a> <span>|</span>
                                    <a tabindex="0" class="focus:outline-none focus:underline focus:text-black hover:text-black hover:underline px-2 cursor-pointer">Living</a>
                                </p>
                            </div>
                        </div>
                        <!-- Card code block end -->
                    </dh-component>
                </div>
            </div>
        </div>
    </body>
</html>
