<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <title>Notifications</title>

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="h-80 py-8">
            <div class="relative mx-auto flex justify-center sm:justify-end h-full">
                <!--code for notification starts-->
                <div role="alert" class="xl:w-5/12 sm:w-6/12 md:w-3/5 w-11/12 bg-white dark:bg-gray-800 shadow-lg rounded flex pr-4 sm:flex-row flex-col absolute left-0 sm:left-auto right-0 sm:top-0 mx-auto sm:mr-6 transition duration-150 ease-in-out" id="notification">
                    <div tabindex="0" aria-label="information icon" role="img" class="focus:outline-none sm:p-6 p-2 ml-4 sm:ml-0 mt-4 sm:mt-0 sm:px-6 flex items-center justify-center bg-blue-700 w-12 h-12 sm:h-auto sm:w-auto text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="currentColor">
                            <path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9a1 1 0 0 1 1 1v4a1 1 0 0 1-2 0v-4a1 1 0 0 1 1-1zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </div>
                    <div class="flex flex-col justify-center pl-4 sm:w-9/12 py-3">
                        <p tabindex="0" class="focus:outline-none text-lg text-gray-800 dark:text-gray-100 font-semibold pb-1">Update Available</p>
                        <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 font-normal pb-2">You've got some friends nearby, stop looking at your phone and find them</p>
                        <div class="flex">
                            <span tabindex="0" class="focus:outline-none focus:text-blue-800 text-sm text-blue-700 hover:underline font-bold mr-2 cursor-pointer">Details </span>
                            <span tabindex="0" class="focus:outline-none focus:text-gray-400 text-sm pl-2 text-gray-600 hover:underline dark:text-gray-400 cursor-pointer" onkeypress="closeModal()" onclick="closeModal()">Dismiss</span>
                        </div>
                    </div>
                </div>
                <script>
                    var Notification = document.getElementById("notification");
                    Notification.style.transform = "translateX(150%)";
                    Notification.classList.remove("hidden");
                    Notification.style.transform = "translateX(0%)";
                    function closeModal() {
                        Notification.style.transform = "translateX(150%)";
                        Notification.classList.remove("hidden");
                        setTimeout(function () {
                            Notification.style.transform = "translateX(0%)";
                        }, 1000);
                    }
                </script>
                <script src="./index.js"></script>
                <!--code for notification ends-->
            </div>
        </div>
    </body>
</html>
