<div class="container mx-auto pt-16">
    <div class="bg-gray-100 xl:px-20 lg:px-20 md:px-12 pt-10 pb-32 sm:pb-0">
        <h1 class="text-center xl:text-4xl text-3xl font-extrabold text-gray-800 w-5/6 mx-auto">Trusted by the Fortune 500 and More in Over 80 Territories</h1>
        <p class="text-xl text-center text-gray-600 w-5/6 mx-auto pt-5 pb-24">In 2020, you have to make your web designing strategy strong with web design statistics that will make your success sure. Cross-pollinating your digital marketing channel and integrating will definitely help.</p>
    </div>
    <div class="xl:flex xl:w-9/12 lg:flex md:flex bg-white w-4/5 flex-wrap shadow-lg mx-auto -mt-16 rounded">
        <div class="w-full xl:w-3/12 lg:w-3/12 md:w-3/12 bg-white py-8 rounded-bl rounded-tl xl:border-r lg:border-r sm:border-r md:border-r border-gray-400 border-b xl:border-b-0 lg:border-b-0 md:border-b-0 sm:border-b-0">
            <p class="text-2xl text-gray-800 text-center">Projects</p>
            <p class="text-5xl font-bold text-center text-indigo-700 pt-1">220</p>
        </div>
        <div class="w-full xl:w-3/12 lg:w-3/12 md:w-3/12 bg-white py-8 xl:border-r lg:border-r sm:border-r md:border-r border-gray-400 border-b xl:border-b-0 lg:border-b-0 md:border-b-0 sm:border-b-0">
            <p class="text-2xl text-gray-800 text-center">Earned</p>
            <p class="text-5xl font-bold text-center text-indigo-700 pt-1">130K</p>
        </div>
        <div class="w-full xl:w-3/12 lg:w-3/12 md:w-3/12 bg-white py-8 xl:border-r lg:border-r sm:border-r md:border-r border-gray-400 border-b xl:border-b-0 lg:border-b-0 md:border-b-0 sm:border-b-0">
            <p class="text-2xl text-gray-800 text-center">Delivery</p>
            <p class="text-5xl font-bold text-center text-indigo-700 pt-1">24/7</p>
        </div>
        <div class="w-full xl:w-3/12 lg:w-3/12 md:w-3/12 bg-white py-8 rounded-br rounded-tr pt-8 pb-8">
            <p class="text-2xl text-gray-800 text-center">Success</p>
            <p class="text-5xl font-bold text-center text-indigo-700 pt-1">99%</p>
        </div>
    </div>
</div>
