<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <title>card-2</title>
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="overflow-y-hidden">
        <div class="py-12 flex justify-center">
            <div class="cursor-pointer flex flex-col mt-4 md:mt-0">
                <div class="flex justify-center items-center border rounded-tl rounded-tr border-gray-200 dark:border-gray-800">
                    <svg width="295" height="256" viewBox="0 0 295 256" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.65" x="20" y="52" width="255" height="152" rx="4" fill="#1F2937"></rect>
                        <rect x="40" y="169" width="53" height="19" rx="2" fill="#D1D5DB"></rect>
                        <rect x="79" y="77" width="63" height="6" rx="2" fill="#D1D5DB"></rect>
                        <rect x="79" y="87" width="31" height="4" rx="2" fill="#D1D5DB"></rect>
                        <circle cx="55.5" cy="83.5" r="15.5" fill="#D1D5DB"></circle>
                        <rect x="40" y="113" width="190" height="5" rx="2" fill="#D1D5DB"></rect>
                        <rect x="40" y="131" width="190" height="5" rx="2" fill="#D1D5DB"></rect>
                        <rect x="40" y="149" width="120" height="5" rx="2" fill="#D1D5DB"></rect>
                    </svg>
                </div>
                <div class="flex justify-between w-full px-4 py-5 bg-gray-100 dark:bg-gray-800 rounded-bl-sm rounded-br-sm">
                    <p tabindex="0" class="focus:outline-none text-xl leading-tight tracking-tight text-gray-900 dark:text-gray-50 capitalize">Grid card</p>
                    <p tabindex="0" class="focus:outline-none text-xl leading-tight tracking-tight text-gray-900 dark:text-gray-50">12</p>
                </div>
            </div>
        </div>
    </body>
</html>
