<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Block 8</title>

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="py-10">
            <div class="container mx-auto px-6 flex items-start justify-center">
                <div class="w-full md:w-8/12">
                    <dh-component>
                        <!-- Card is full width. Use in 8 col grid for best view. -->
                        <!-- Card code block start -->
                        <div class="mx-auto bg-white dark:bg-gray-800 shadow rounded xl:px-8 md:px-8 sm:px-8 py-8 px-4 w-full">
                            <p tabindex="0" class="focus:outline-none text-lg font-bold dark:text-gray-100">Find Colleagues</p>
                            <div class="flex w-full">
                                <div class="w-full">
                                    <div class="border border-gray-400 dark:border-gray-200 relative flex items-center rounded mt-6">
                                        <div class="absolute ml-4 cursor-pointer">
                                            <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g transform="translate(-196.000000, -4105.000000)" fill="#718096" fill-rule="nonzero">
                                                        <g transform="translate(152.000000, 4017.000000)">
                                                            <g transform="translate(32.000000, 72.000000)">
                                                                <g>
                                                                    <g>
                                                                        <path
                                                                            d="M22.0506576,25.0542101 L25.8342802,28.8449993 C26.0709604,29.125199 26.0520423,29.5403831 25.7908611,29.7978957
                                                                C25.5296798,30.0554083 25.1142853,30.0684363 24.8374817,29.8277965 L21.0608788,26.0510473 C18.7190814,27.8702712
                                                                15.3664691,27.5551481 13.4046533,25.3314133 C11.4428375,23.1076785 11.5480113,19.7418025 13.6448344,17.6448982
                                                                C15.7416575,15.5479938 19.107403,15.4428159 21.3310516,17.4047078 C23.5547002,19.3665996 23.8698111,22.7193419
                                                                22.0506576,25.0612301 L22.0506576,25.0542101 Z M17.5263158,25.5789474 C19.7645224,25.5789474 21.5789474,23.7645224
                                                                21.5789474,21.5263158 C21.5789474,19.2881092 19.7645224,17.4736842 17.5263158,17.4736842 C15.2881092,17.4736842
                                                                13.4736842,19.2881092 13.4736842,21.5263158 C13.4736842,23.7645224 15.2881092,25.5789474 17.5263158,25.5789474 Z"
                                                                        ></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <input type="text" placeholder="Marketing Candidates" class="focus:ring-2 focus:ring-indigo-600 focus:outline-none pl-10 w-full py-3 text-sm" id="Search" aria-label="Search" />
                                        <button class="focus:ring-2 focus:ring-indigo-600 focus:text-indigo-600 focus:ring-offset-2 flex text-sm items-center border-gray-400 dark:border-gray-200 border-l text-gray-600 dark:text-gray-400 focus:outline-none py-3 px-6">
                                            <span class="pr-1">
                                                <svg width="15px" height="14px" viewBox="0 0 15 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <title>Shape</title>
                                                    <desc>Created with Sketch.</desc>
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g transform="translate(-783.000000, -4105.000000)" fill="#718096" fill-rule="nonzero">
                                                            <g transform="translate(152.000000, 4017.000000)">
                                                                <g transform="translate(32.000000, 72.000000)">
                                                                    <g>
                                                                        <g>
                                                                            <g transform="translate(575.000000, 0.000000)">
                                                                                <g transform="translate(24.000000, 16.000000)">
                                                                                    <g>
                                                                                        <path
                                                                                            d="M0.210147303,3.99279876 C0.0781648052,3.86346678 0.00263177825,3.68722305
                                                                                7.38076267e-13,3.50245505 L7.38076267e-13,0.700491011 C7.38076267e-13,0.313620508 0.313620508,0
                                                                                0.700491011,0 L13.3093292,0 C13.6961997,0 14.0098202,0.313620508 14.0098202,0.700491011
                                                                                L14.0098202,3.50245505 C14.0071884,3.68722305 13.9316554,3.86346678 13.7996729,3.99279876
                                                                                L9.10638314,8.70009835 L9.10638314,10.5073652 C9.10375136,10.6921332 9.02821833,10.8683769
                                                                                8.89623584,10.9977089 L6.09427179,13.7996729 C5.89414129,13.9958943 5.5963129,14.053934
                                                                                5.33714717,13.9472187 C5.07798143,13.8405034 4.90737388,13.5895783 4.90343708,13.3093292
                                                                                L4.90343708,8.69309344 L0.210147303,3.99980367 L0.210147303,3.99279876 Z M1.40098202,1.40098202
                                                                                L1.40098202,3.21525374 L6.09427179,7.90854351 C6.22796446,8.03958537 6.30364195,8.21868878
                                                                                6.3044191,8.40589213 L6.3044191,11.6211459 L7.70540112,10.2201638 L7.70540112,8.40589213
                                                                                C7.7080329,8.22112413 7.78356592,8.0448804 7.91554842,7.91554842 L12.6088382,3.20824883
                                                                                L12.6088382,1.40098202 L1.40098202,1.40098202 Z"
                                                                                        ></path>
                                                                                    </g>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-8 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_19.png" alt="man avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorships</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-blue-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Active</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-6 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_20.png" alt="man avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorhsips</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-yellow-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Away</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-6 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_21.png" alt="man avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorhsips</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-blue-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Active</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-6 pb-8 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_22.png" alt="boy avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorhsips</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-yellow-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Away</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card code block end -->
                    </dh-component>
                </div>
            </div>
        </div>
    </body>
</html>
