<!-- Code block starts -->
<div id="alert" [ngClass]="'lg:w-10/12 transition duration-150 ease-in-out bg-yellow-200 shadow rounded-md md:flex justify-between items-center top-0  py-4 px-4 ' + (alert ? 'transform -translate-y-full' : 'transform translate-y-0 mt-8')">
    <div class="sm:flex items-center">
        <div class="flex items-end">
            <div class="mr-2 mt-0.5 sm:mt-0 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22" fill="currentColor">
                    <path class="heroicon-ui" d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm0 9a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </svg>
            </div>
            <p class="mr-2 text-base font-bold text-yellow-500">Warning</p>
        </div>
        <div class="h-1 w-1 bg-yellow-500 rounded-full mr-2 hidden xl:block"></div>
        <p class="text-base text-yellow-500">Hurricane warning in this area. Please check local media and authorities-NWS</p>
    </div>
    <div class="flex justify-end mt-4 md:mt-0 md:pl-4 lg:pl-0">
        <span class="text-sm mr-4 font-bold cursor-pointer text-yellow-500">Details</span>
        <span (click)="closeAlert()" class="text-sm cursor-pointer text-gray-500">Dismiss</span>
    </div>
</div>
<!-- Code block ends -->
