<div class="w-full flex justify-center py-12 px-4">
    <div class="bg-gray-100 dark:bg-gray-800 rounded-md px-4 py-4 lg:px-8 lg:py-7 w-full md:w-10/12 lg:w-9/12 xl:w-1/2">
        <div class="sm:flex w-full justify-between">
            <p class="text-base md:text-xl font-bold leading-tight text-brand">Vue integrations in CTA section</p>
            <div class="flex items-center w-28 sm:mt-0 mt-4 h-7 justify-center bg-gradient-to-r from-red-500 to-pink-500 rounded-full">
                <p class="text-xs text-white">Components</p>
            </div>
        </div>
        <div class="mt-6">
            <div class="flex items-center">
                <div class="h-4 w-4 bg-green-300 text-white dark:text-black rounded-full flex justify-center items-center font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                <p class="text-sm md:text-base leading-none text-gray-600 dark:text-gray-300 pl-2">Subscribe button with outlined input</p>
            </div>
            <div class="flex items-center mt-5">
                <div class="h-4 w-4 bg-green-300 text-white dark:text-black rounded-full flex justify-center items-center font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                <p class="text-sm md:text-base leading-none text-gray-600 dark:text-gray-300 pl-2">Simple card with 1 button</p>
            </div>
            <div class="flex items-center mt-5">
                <div class="h-4 w-4 bg-green-300 text-white dark:text-black rounded-full flex justify-center items-center font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                <p class="text-sm md:text-base leading-none text-gray-600 dark:text-gray-300 pl-2">Red background with 2 inputs</p>
            </div>
            <div class="flex items-center mt-5">
                <div class="h-4 w-4 bg-green-300 text-white dark:text-black rounded-full flex justify-center items-center font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                <p class="text-sm md:text-base leading-none text-gray-600 dark:text-gray-300 pl-2">Blue background with 3 inputs</p>
            </div>
            <div class="flex items-center mt-5">
                <div class="h-4 w-4 bg-green-300 text-white dark:text-black rounded-full flex justify-center items-center font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                <p class="text-sm md:text-base leading-none text-gray-600 dark:text-gray-300 pl-2">3 step how it works</p>
            </div>
        </div>
    </div>
</div>
