<div class="max-w-sm rounded overflow-hidden">
    <img class="w-full" src="https://i.ibb.co/vxWWdhp/kitty.png" alt="" srcset="" />
    <div class="bg-white dark:bg-gray-800 rounded-b px-4 py-6">
        <div class="flex items-start justify-between">
            <p class="sm:text-base text-sm leading-6 md:leading-5 font-semibold text-gray-800 dark:text-gray-100 sm:w-2/3 sm:pr-0 pr-4">Taking Billy to the vet today, he doesn’t seem excited 😒</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer text-gray-700 dark:text-gray-400 icon icon-tabler icon-tabler-dots" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="5" cy="12" r="1" />
                <circle cx="12" cy="12" r="1" />
                <circle cx="19" cy="12" r="1" />
            </svg>
        </div>

        <div class="flex items-center mt-6">
            <div class="relative">
                <div class="border-2 border-white w-4 h-4 bg-indigo-700 rounded-b absolute m-auto inset-0 -mr-1 mt-0"></div>
                <img class="w-12" src="https://i.ibb.co/WnVgd7B/DP.png" alt="" srcset="" />
            </div>
            <div class="ml-4">
                <p class="sm:text-base font-semibold text-gray-800 dark:text-gray-100">Tolu Arowoselu</p>
                <p class="sm:text-sm pt-1 text-gray-500 dark:text-gray-400">Activist</p>
            </div>
        </div>
    </div>
</div>
