<div class="mx-auto container mt-40 xl:px-4 px-4">
    <div class="flex items-center justify-center">
        <hr class="w-2.5 h-16 bg-color-orange" />
        <h1 class="text-4xl font-bold text-gray-900 pl-7">Services<span class="text-2xl font-normal"> We Provide</span></h1>
    </div>
    <div class="items-center justify-center mt-16 lg:flex">
        <div class="xl:w-1/3 h-full shadow-lg hover:shadow-xl cursor-pointer xl:mr-7 lg:mr-3 mr-0 mb-8">
            <div class="relative">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/templates/foodies/dive-in.png" class="h-96 w-full h-full" />
                <div class="bg-white w-full">
                    <p class="p-f-f font-bold text-4xl text-gray-900 absolute -mt-7 ml-5">01.</p>
                    <p class="text-center text-2xl text-gray-900 py-8">Dine In/ Takeaway</p>
                </div>
            </div>
        </div>
        <div class="xl:w-1/3 h-full shadow-lg hover:shadow-xl cursor-pointer xl:mr-7 lg:mr-3 mr-0 mb-8">
            <div class="relative">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/templates/foodies/easy-reservation.png" class="h-96 w-full h-full" />
                <div class="bg-white w-full">
                    <p class="p-f-f font-bold text-4xl text-gray-900 absolute -mt-7 ml-5">02.</p>
                    <p class="text-center text-2xl text-gray-900 py-8">Easy Table Reservation</p>
                </div>
            </div>
        </div>
        <div class="xl:w-1/3 h-full shadow-lg hover:shadow-xl cursor-pointer mb-8">
            <div class="relative">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/templates/foodies/delivery.png" class="h-96 w-full h-full" />
                <div class="bg-white w-full">
                    <p class="p-f-f font-bold text-4xl text-gray-900 absolute -mt-7 ml-5">03.</p>
                    <p class="text-center text-2xl text-gray-900 py-8">Free Home Delivery</p>
                </div>
            </div>
        </div>
    </div>
</div>
