<div class="flex items-center justify-center py-8 px-4">
    <!-- Please include the chartJs script in the head section of your webpage to make the chart work.
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>  -->
    <div class="w-80 rounded shadow-lg bg-white dark:bg-gray-800">
        <div class="px-5 py-4">
            <p class="text-xs leading-3 tracking-tighter text-gray-600 dark:text-gray-100">Expenses</p>
            <div class="md:flex items-end pt-2">
                <p class="text-lg font-bold leading-4 text-gray-800 dark:text-gray-100">Q2, 2021</p>
                <p class="text-xs md:pl-1.5 md:mt-0 mt-2 leading-3 text-green-500">5.6% average decrease</p>
            </div>
            <div class="pt-10">
                <div class="flex items-center">
                    <div class="flex items-center">
                        <div class="w-2 h-2 mr-1 bg-purple-600 rounded-full"></div>
                        <p class="text-xs leading-3 text-purple-600">HR</p>
                    </div>
                    <div class="ml-5 flex items-center">
                        <div class="w-2 h-2 mr-1 bg-pink-600 rounded-full"></div>
                        <p class="text-xs leading-3 text-pink-600">Marketing</p>
                    </div>
                    <div class="ml-5 flex items-center">
                        <div class="w-2 h-2 mr-1 bg-yellow-500 rounded-full"></div>
                        <p class="text-xs leading-3 text-yellow-500">Operations</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full pt-7 flex items-center justify-center">
            <div class="h-full w-full">
                <canvas id="myChart" width="100%"></canvas>
            </div>
        </div>
    </div>
</div>
