<div class="flex items-center justify-center py-8 px-4">
    <div class="bg-white md:w-96 rounded px-5 py-4 shadow w-full">
        <p class="text-lg font-bold leading-none text-gray-800">Latest Posts</p>
        <div class="mt-4">
            <div class="flex justify-between">
                <p class="text-sm font-medium leading-5 text-gray-800 w-9/12">Why design thinking is essential for building successful products?</p>
                <p class="text-xs leading-4 text-gray-500">3hrs ago</p>
            </div>
            <div class="flex items-center text-xs leading-3 text-gray-500 mt-2">
                <p>3,281 views</p>
                <div class="w-1 h-1 bg-gray-500 rounded-full mx-1"></div>
                <p>250 reactions</p>
            </div>
        </div>
        <div class="mt-5">
            <div class="flex justify-between">
                <p class="text-sm font-medium leading-5 text-gray-800 w-8/12">How to get ahead in freelance with a beginner’s profile</p>
                <p class="text-xs leading-4 text-gray-500">6hrs ago</p>
            </div>
            <div class="flex items-center text-xs leading-3 text-gray-500 mt-2">
                <p>35 views</p>
                <div class="w-1 h-1 bg-gray-500 rounded-full mx-1"></div>
                <p>10 reactions</p>
            </div>
        </div>
        <div class="mt-5">
            <div class="flex justify-between">
                <p class="text-sm font-medium leading-5 text-gray-800 w-8/12">Why forming relationships and building a network is essential?</p>
                <p class="text-xs leading-4 text-gray-500">7hrs ago</p>
            </div>
            <div class="flex items-center text-xs leading-3 text-gray-500 mt-2">
                <p>3,281 views</p>
                <div class="w-1 h-1 bg-gray-500 rounded-full mx-1"></div>
                <p>250 reactions</p>
            </div>
        </div>
        <div class="mt-5">
            <div class="flex justify-between">
                <p class="text-sm font-medium leading-5 text-gray-800 w-8/12">What are variants and how to use them in Figma</p>
                <p class="text-xs leading-4 text-gray-500">18hrs ago</p>
            </div>
            <div class="flex items-center text-xs leading-3 text-gray-500 mt-2">
                <p>3,281 views</p>
                <div class="w-1 h-1 bg-gray-500 rounded-full mx-1"></div>
                <p>250 reactions</p>
            </div>
        </div>
    </div>
</div>
