<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-8 px-4">
            <div class="w-80 bg-white dark:bg-gray-800 rounded py-6">
                <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 text-gray-900 dark:text-gray-100 px-8">Team</p>
                <hr class="w-full border-gray-200 mt-4 mb-8" />
                <div class="flex items-center justify-between px-8">
                    <div class="flex items-center">
                        <div class="flex items-center">
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1524660988542-c440de9c0fde?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" tabindex="0" class="focus:outline-none w-10 h-10 object-cover object-center rounded" />
                        </div>
                        <div class="flex flex-col pl-3">
                            <p tabindex="0" class="focus:outline-none text-base font-semibold leading-4 text-gray-800 dark:text-gray-100">Barry Allen</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold pt-3 leading-3 dark:text-gray-400 text-gray-500">Designer</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-8 h-8 cursor-pointer">
                            <button aria-label="chat" class="focus:ring-2 focus:ring-yellow-300 focus:text-yellow-400 focus:outline-none flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-yellow-400 hover:bg-yellow-100 hover:text-yellow-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                    <line x1="12" y1="11" x2="12" y2="11.01" />
                                    <line x1="8" y1="11" x2="8" y2="11.01" />
                                    <line x1="16" y1="11" x2="16" y2="11.01" />
                                </svg>
                            </button>
                        </div>
                        <div class="w-8 h-8 ml-3 cursor-pointer">
                            <button tabindex="0" aria-label="call" class="focus:ring-2 focus:ring-green-300 focus:text-green-400 focus:outline-none flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-green-400 hover:bg-green-100 hover:text-green-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-6 flex items-center justify-between px-8">
                    <div class="flex items-center">
                        <div class="flex items-center relative">
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1521341957697-b93449760f30?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" tabindex="0" class="focus:outline-none w-10 h-10 object-cover object-center rounded" />
                            <div class="w-2.5 h-2.5 bg-indigo-700 border rounded-full border-white absolute top-0 -ml-1.5"></div>
                        </div>
                        <div class="flex flex-col pl-3">
                            <p tabindex="0" class="focus:outline-none text-base font-semibold leading-4 text-gray-800 dark:text-gray-100">Allen</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold pt-3 leading-3 dark:text-gray-400 text-gray-500">Designer</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-8 h-8 cursor-pointer">
                            <button aria-label="chat" class="focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:text-yellow-400 flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-yellow-400 hover:bg-yellow-100 hover:text-yellow-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                    <line x1="12" y1="11" x2="12" y2="11.01" />
                                    <line x1="8" y1="11" x2="8" y2="11.01" />
                                    <line x1="16" y1="11" x2="16" y2="11.01" />
                                </svg>
                            </button>
                        </div>
                        <div class="w-8 h-8 ml-3 cursor-pointer">
                            <button tabindex="0" aria-label="call" class="focus:ring-2 focus:ring-green-300 focus:text-green-400 focus:outline-none flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-green-400 hover:bg-green-100 hover:text-green-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-6 flex items-center justify-between px-8">
                    <div class="flex items-center">
                        <div class="flex items-center relative">
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1521341957697-b93449760f30?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" tabindex="0" class="focus:outline-none w-10 h-10 object-cover object-center rounded" />
                            <div class="w-2.5 h-2.5 bg-indigo-700 border rounded-full border-white absolute top-0 -ml-1.5"></div>
                        </div>
                        <div class="flex flex-col pl-3">
                            <p tabindex="0" class="focus:outline-none text-base font-semibold leading-4 text-gray-800 dark:text-gray-100">Jesse</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold pt-3 leading-3 dark:text-gray-400 text-gray-500">Designer</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-8 h-8 cursor-pointer">
                            <button  aria-label="chat" class="focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:text-yellow-400 flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-yellow-400 hover:bg-yellow-100 hover:text-yellow-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                    <line x1="12" y1="11" x2="12" y2="11.01" />
                                    <line x1="8" y1="11" x2="8" y2="11.01" />
                                    <line x1="16" y1="11" x2="16" y2="11.01" />
                                </svg>
                            </button>
                        </div>
                        <div class="w-8 h-8 ml-3 cursor-pointer">
                            <button tabindex="0" aria-label="call" class="focus:ring-2 focus:ring-green-300 focus:text-green-400 focus:outline-none flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-green-400 hover:bg-green-100 hover:text-green-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-6 flex items-center justify-between px-8">
                    <div class="flex items-center">
                        <div class="flex items-center relative">
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1521341957697-b93449760f30?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" tabindex="0" class="focus:outline-none w-10 h-10 object-cover object-center rounded" />
                            <div class="w-2.5 h-2.5 bg-indigo-700 border rounded-full border-white absolute top-0 -ml-1.5"></div>
                        </div>
                        <div class="flex flex-col pl-3">
                            <p tabindex="0" class="focus:outline-none text-base font-semibold leading-4 text-gray-800 dark:text-gray-100">Cisco</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold pt-3 leading-3 dark:text-gray-400 text-gray-500">Designer</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-8 h-8 cursor-pointer">
                            <button aria-label="chat" class="focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:text-yellow-400 flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-yellow-400 hover:bg-yellow-100 hover:text-yellow-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                    <line x1="12" y1="11" x2="12" y2="11.01" />
                                    <line x1="8" y1="11" x2="8" y2="11.01" />
                                    <line x1="16" y1="11" x2="16" y2="11.01" />
                                </svg>
                            </button>
                        </div>
                        <div class="w-8 h-8 ml-3 cursor-pointer">
                            <button tabindex="0" aria-label="call" class="focus:ring-2 focus:ring-green-300 focus:text-green-400 focus:outline-none flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-green-400 hover:bg-green-100 hover:text-green-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-6 flex items-center justify-between px-8">
                    <div class="flex items-center">
                        <div class="flex items-center relative">
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1521341957697-b93449760f30?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" tabindex="0" class="focus:outline-none w-10 h-10 object-cover object-center rounded" />
                            <div class="w-2.5 h-2.5 bg-indigo-700 border rounded-full border-white absolute top-0 -ml-1.5"></div>
                        </div>
                        <div class="flex flex-col pl-3">
                            <p tabindex="0" class="focus:outline-none text-base font-semibold leading-4 text-gray-800 dark:text-gray-100">Catilyn</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold pt-3 leading-3 dark:text-gray-400 text-gray-500">Designer</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-8 h-8 cursor-pointer">
                            <button aria-label="chat" class="focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:text-yellow-400 flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-yellow-400 hover:bg-yellow-100 hover:text-yellow-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                    <line x1="12" y1="11" x2="12" y2="11.01" />
                                    <line x1="8" y1="11" x2="8" y2="11.01" />
                                    <line x1="16" y1="11" x2="16" y2="11.01" />
                                </svg>
                            </button>
                        </div>
                        <div class="w-8 h-8 ml-3 cursor-pointer">
                            <button tabindex="0" aria-label="call" class="focus:ring-2 focus:ring-green-300 focus:text-green-400 focus:outline-none flex items-center justify-center p-2 w-8 h-8 border rounded border-gray-200 text-gray-200 hover:border-green-400 hover:bg-green-100 hover:text-green-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
