<div class="sm:hidden relative w-11/12 mx-auto rounded">
    <div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="8 9 12 5 16 9" />
            <polyline points="16 15 12 19 8 15" />
        </svg>
    </div>
    <select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-600 appearance-none bg-transparent relative z-10">
        <option class="text-sm text-gray-600">inactive</option>
        <option class="text-sm text-gray-600">inactive</option>
        <option selected class="text-sm text-gray-600">Active</option>
        <option class="text-sm text-gray-600">inactive</option>
        <option class="text-sm text-gray-600">inactive</option>
    </select>
</div>
<div class="xl:w-full xl:mx-0 h-12 hidden sm:block bg-white rounded shadow">
    <div class="xl:w-full xl:mx-0 pl-5 pr-5 h-12">
        <ul class="flex">
            <li (click)="this.active_status = 1" class="text-sm flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-10 font-normal">
                <span [ngClass]="active_status == 1 ? 'text-indigo-700 mb-3 cursor-pointer' : 'text-gray-600 mb-3 cursor-pointer'">{{ active_status == 1 ? "Active" : "Inactive" }}</span>
                <div *ngIf="active_status == 1" [ngClass]="active_status == 1 ? 'w-full h-1 bg-indigo-700 rounded-t-md' : 'w-full h-1 bg-indigo-700 rounded-t-md hidden'"></div>
            </li>
            <li (click)="this.active_status = 2" class="mr-3 text-sm flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-10 font-normal">
                <span [ngClass]="active_status == 2 ? 'text-indigo-700 mb-3 cursor-pointer' : 'text-gray-600 mb-3 cursor-pointer'">{{ active_status == 2 ? "Active" : "Inactive" }}</span>
                <div *ngIf="active_status == 2" [ngClass]="active_status == 2 ? 'w-full h-1 bg-indigo-700 rounded-t-md' : 'w-full h-1 bg-indigo-700 rounded-t-md hidden'"></div>
            </li>
            <li (click)="this.active_status = 3" class="mr-3 text-sm flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-10 font-normal">
                <span [ngClass]="active_status == 3 ? 'text-indigo-700 mb-3 cursor-pointer' : 'text-gray-600 mb-3 cursor-pointer'">{{ active_status == 3 ? "Active" : "Inactive" }}</span>
                <div *ngIf="active_status == 3" [ngClass]="active_status == 3 ? 'w-full h-1 bg-indigo-700 rounded-t-md' : 'w-full h-1 bg-indigo-700 rounded-t-md hidden'"></div>
            </li>
            <li (click)="this.active_status = 4" class="text-sm flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-10 font-normal">
                <span [ngClass]="active_status == 4 ? 'text-indigo-700 mb-3 cursor-pointer' : 'text-gray-600 mb-3 cursor-pointer'">{{ active_status == 4 ? "Active" : "Inactive" }}</span>
                <div *ngIf="active_status == 4" [ngClass]="active_status == 4 ? 'w-full h-1 bg-indigo-700 rounded-t-md' : 'w-full h-1 bg-indigo-700 rounded-t-md hidden'"></div>
            </li>
        </ul>
    </div>
</div>
