 <div class="lg:pr-6 lg:w-5/12 w-full px-4">
            <div class="border rounded-lg pb-8 border-gray-200">
                <div class="flex items-center border-b border-gray-200 justify-between px-6 py-3">
                    <p class="text-sm lg:text-xl font-semibold leading-tight text-gray-800">Customer Support</p>
                    <div class="flex cursor-pointer items-center justify-center px-3 py-2.5 border rounded border-gray-100">
                        <p class="text-xs md:text-sm leading-none text-gray-600">Filter by: Latest</p>
                    </div>
                </div>
                <div class="px-6 pt-8">
                    <div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <p class="text-xs md:text-sm font-semibold leading-none text-gray-800">David Jones</p>
                                <p class="text-xs md:text-sm leading-none text-blue-500 pl-3">(CID 879-10-940)</p>
                            </div>
                            <div>
                                <p class="text-xs md:text-sm leading-none text-right text-gray-600">2hrs ago</p>
                            </div>
                        </div>
                        <div class="py-2">
                            <p class="text-xs md:text-sm leading-tight text-gray-600">Order has not been received and is past the delivery...</p>
                        </div>
                        <div>
                            <p class="text-sm leading-none underline text-indigo-700 cursor-pointer">Resolve</p>
                        </div>
                    </div>
                    <div class="pt-6">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <p class="text-xs md:text-sm font-semibold leading-none text-gray-800">Carla Smith</p>
                                <p class="text-xs md:text-sm leading-none text-blue-500 pl-3">(CID 879-10-940)</p>
                            </div>
                            <div>
                                <p class="text-xs md:text-sm leading-none text-right text-gray-600">2hrs ago</p>
                            </div>
                        </div>
                        <div class="py-2">
                            <p class="text-xs md:text-sm leading-tight text-gray-600">Order has not been received and is past the delivery...</p>
                        </div>
                        <div>
                            <p class="text-sm leading-none underline text-indigo-700 cursor-pointer">Resolve</p>
                        </div>
                    </div>
                    <div class="pt-6">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <p class="text-xs md:text-sm font-semibold leading-none text-gray-800">Samantha. J</p>
                                <p class="text-xs md:text-sm leading-none text-blue-500 pl-3">(CID 879-10-940)</p>
                            </div>
                            <div>
                                <p class="text-xs md:text-sm leading-none text-right text-gray-600">2hrs ago</p>
                            </div>
                        </div>
                        <div class="py-2">
                            <p class="text-xs md:text-sm leading-tight text-gray-600">Order has not been received and is past the delivery...</p>
                        </div>
                        <div>
                            <p class="text-sm leading-none underline text-indigo-700 cursor-pointer">Resolve</p>
                        </div>
                    </div>
                    <div class="pt-6 pb-0.5">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <p class="text-xs md:text-sm font-semibold leading-none text-gray-800">Dwayne Jon</p>
                                <p class="text-xs md:text-sm leading-none text-blue-500 pl-3">(CID 879-10-940)</p>
                            </div>
                            <div>
                                <p class="text-xs md:text-sm leading-none text-right text-gray-600">2hrs ago</p>
                            </div>
                        </div>
                        <div class="py-2">
                            <p class="text-xs md:text-sm leading-tight text-gray-600">Order has not been received and is past the delivery...</p>
                        </div>
                        <div>
                            <p class="text-sm leading-none underline text-indigo-700 cursor-pointer">Resolve</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>