<div class="mx-auto py-12 flex justify-center">
    <!-- Code block starts -->
    <div class="py-4 flex items-center">
        <div class="bg-white dark:bg-gray-100 rounded-full w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
            <input checked type="radio" name="radio" class="checkbox appearance-none focus:outline-none border rounded-full border-gray-400 absolute cursor-pointer w-full h-full checked:border-none" />
            <div class="check-icon hidden border-4 border-indigo-700 rounded-full w-full h-full z-1"></div>
        </div>
        <p class="ml-3 text-base leading-4 font-normal text-gray-800 dark:text-gray-100">On</p>
    </div>
    <!-- Code block ends -->
    <!-- Code block starts -->
    <div class="py-4 flex items-center ml-6">
        <div class="bg-white dark:bg-gray-100 rounded-full w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
            <input type="radio" name="radio" class="checkbox appearance-none focus:outline-none border rounded-full border-gray-400 absolute cursor-pointer w-full h-full checked:border-none" />
            <div class="check-icon hidden border-4 border-indigo-700 rounded-full w-full h-full z-1"></div>
        </div>
        <p class="ml-3 text-base leading-4 font-normal text-gray-800 dark:text-gray-100">Off</p>
    </div>
    <!-- Code block ends -->
    <!-- Code block starts -->
    <div class="flex items-center ml-6">
        <div class="rounded-full w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
            <input disabled type="radio" name="radio" class="checkbox appearance-none focus:outline-none border rounded-full border-gray-400 absolute cursor-pointer w-full h-full checked:border-none" />
            <div class="check-icon hidden border-4 border-indigo-700 rounded-full w-full h-full z-1"></div>
        </div>
        <p class="ml-3 text-base leading-4 font-normal text-gray-800 dark:text-gray-100">Disabled</p>
    </div>
    <!-- Code block ends -->
    <style>
        .checkbox:checked {
            border: none;
        }
        .checkbox:checked + .check-icon {
            display: flex;
        }
    </style>
</div>
