<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <title>Card Types</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="py-16 bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="container w-11/12 sm:w-9/12 mx-auto">
            <dh-component>
                <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between w-full">
                    <!-- Code block starts -->
                    <div class="w-full sm:w-1/2 mb-8 sm:mb-0 mr-0 sm:mr-8 rounded bg-white dark:bg-gray-800 shadow">
                        <div class="w-full h-64 border-b border-gray-400 dark:border-gray-600 rounded-t"></div>
                        <div class="w-full h-24 bg-gray-100 dark:bg-gray-700 rounded-b"></div>
                    </div>
                    <!-- Code block ends -->
                    <!-- Code block starts -->
                    <div class="w-full sm:w-1/2 rounded bg-white dark:bg-gray-800 shadow">
                        <div class="w-full h-24 bg-gray-100 dark:bg-gray-700 rounded-t"></div>
                        <div class="w-full h-64 border-t border-gray-400 dark:border-gray-600 rounded-b"></div>
                    </div>
                    <!-- Code block ends -->
                </div>
            </dh-component>
        </div>
    </body>
</html>
