<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 91</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-8 sm:px-6 px-4">
        <div class="max-w-sm rounded shadow bg-white dark:bg-gray-800">
            <div class="flex">
                <div class="px-6 py-5">
                    <p tabindex="0" class="focus:outline-none text-base font-medium leading-none text-gray-800 dark:text-gray-100">Congratulations 🎉 Bruce!</p>
                    <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400 pt-2">You have won gold medal</p>
                    <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-tight text-indigo-700 dark:text-gray-100 sm:pt-6 pt-3">$48.9k</p>
                    <div class="pt-4">
                        <button class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 py-2 px-4 text-xs font-semibold leading-3 bg-indigo-700 rounded hover:bg-indigo-600 focus:outline-none text-white">View Sales</button>
                    </div>
                </div>
                <div class="px-3">
                    <img tabindex="0" class="focus:outline-none" src="https://i.ibb.co/34gPtCT/bg.png" alt="medal" />
                </div>
            </div>
        </div>
    </body>
</html>
