<div class="pt-16">
    <div class="container mx-auto pt-16 bg-gray-100">
        <div class="text-center pb-3 md:pb-10 xl:pb-20">
            <p class="text-gray-500 text-base lg:text-lg uppercase leading-tight mb-4">star with the basics</p>
            <h1 class="px-2 xl:px-0 xl:text-5xl md:text-3xl text-2xl font-extrabold text-gray-800">Frequently Asked Questions</h1>
        </div>
        <div class="w-10/12 mx-auto">
            <ul>
                <li class="py-6 border-gray-200 border-solid border-b">
                    <div class="flex justify-between items-center">
                        <h3 class="text-gray-800 text-base md:text-xl xl:text-2xl w-10/12">What does lorem ipsum actually mean?</h3>
                        <div class="cursor-pointer">
                            <svg (click)="openMenu(1)" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList === 1 ? ' hidden ' : ' icon icon-tabler icon-tabler-circle-plus'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Open">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                                <line x1="12" y1="9" x2="12" y2="15" />
                            </svg>
                            <svg (click)="closeMenu()" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList === 1 ? 'icon icon-tabler icon-tabler-circle-minus ' : 'hidden'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Close">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                            </svg>
                        </div>
                    </div>
                    <p [ngClass]="isOpenedList === 1 ? ' pt-2 md:pt-3 lg:pt-5 text-gray-800 bg-gray-100 text-sm md:text-base xl:text-lg rounded-b-lg ' : ' hidden'" class="">Find the latest events updates or create events, concerts, conferences, workshops, exhibitions, and cultural events in all cities of the US. The aim of Eventistan is to promote healthy and entertaining event. Greatest appreciation to you and your team for the outstanding job you did for us. The website is just what we wanted, and we were thrilled with the speed your team exercised.</p>
                </li>
                <li class="py-6 border-gray-200 border-solid border-b">
                    <div class="flex justify-between items-center">
                        <h3 class="text-gray-800 text-base md:text-xl xl:text-2xl w-10/12">How do we know what kind of sounds dinosaurs made?</h3>
                        <div class="cursor-pointer">
                            <svg (click)="openMenu(2)" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '2' ? ' hidden ' : ' icon icon-tabler icon-tabler-circle-plus'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Open">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                                <line x1="12" y1="9" x2="12" y2="15" />
                            </svg>
                            <svg (click)="closeMenu()" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '2' ? 'icon icon-tabler icon-tabler-circle-minus ' : 'hidden'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Close">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                            </svg>
                        </div>
                    </div>
                    <p [ngClass]="isOpenedList == '2' ? ' pt-2 md:pt-3 lg:pt-5 text-gray-800 bg-gray-100 text-sm md:text-base xl:text-lg rounded-b-lg ' : ' hidden'">Find the latest events updates or create events, concerts, conferences, workshops, exhibitions, and cultural events in all cities of the US. The aim of Eventistan is to promote healthy and entertaining event. Greatest appreciation to you and your team for the outstanding job you did for us. The website is just what we wanted, and we were thrilled with the speed your team exercised.</p>
                </li>
                <li class="py-6 border-gray-200 border-solid border-b">
                    <div class="flex justify-between items-center">
                        <h3 class="text-gray-800 text-base md:text-xl xl:text-2xl w-10/12">Why work from home is not as fun as we thought it would be?</h3>
                        <div class="cursor-pointer">
                            <svg (click)="openMenu(3)" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '3' ? ' hidden ' : ' icon icon-tabler icon-tabler-circle-plus'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Open">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                                <line x1="12" y1="9" x2="12" y2="15" />
                            </svg>
                            <svg (click)="closeMenu()" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '3' ? 'icon icon-tabler icon-tabler-circle-minus ' : 'hidden'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Close">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                            </svg>
                        </div>
                    </div>
                    <p [ngClass]="isOpenedList == '3' ? ' pt-2 md:pt-3 lg:pt-5 text-gray-800 bg-gray-100 text-sm md:text-base xl:text-lg rounded-b-lg ' : ' hidden'">Find the latest events updates or create events, concerts, conferences, workshops, exhibitions, and cultural events in all cities of the US. The aim of Eventistan is to promote healthy and entertaining event. Greatest appreciation to you and your team for the outstanding job you did for us. The website is just what we wanted, and we were thrilled with the speed your team exercised.</p>
                </li>
                <li class="py-6 border-gray-200 border-solid border-b">
                    <div class="flex justify-between items-center">
                        <h3 class="text-gray-800 text-base md:text-xl xl:text-2xl w-10/12">In what way did human beings started using words?</h3>
                        <div class="cursor-pointer">
                            <svg (click)="openMenu(4)" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '4' ? ' hidden ' : ' icon icon-tabler icon-tabler-circle-plus'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Open">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                                <line x1="12" y1="9" x2="12" y2="15" />
                            </svg>
                            <svg (click)="closeMenu()" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '4' ? 'icon icon-tabler icon-tabler-circle-minus ' : 'hidden'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Close">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                            </svg>
                        </div>
                    </div>
                    <p [ngClass]="isOpenedList == '4' ? ' pt-2 md:pt-3 lg:pt-5 text-gray-800 bg-gray-100 text-sm md:text-base xl:text-lg rounded-b-lg ' : ' hidden'">Find the latest events updates or create events, concerts, conferences, workshops, exhibitions, and cultural events in all cities of the US. The aim of Eventistan is to promote healthy and entertaining event. Greatest appreciation to you and your team for the outstanding job you did for us. The website is just what we wanted, and we were thrilled with the speed your team exercised.</p>
                </li>
                <li class="py-6 border-gray-200 border-solid border-b">
                    <div class="flex justify-between items-center">
                        <h3 class="text-gray-800 text-base md:text-xl xl:text-2xl w-10/12">Which is the least developed area in the world</h3>
                        <div class="cursor-pointer">
                            <svg (click)="openMenu(5)" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '5' ? ' hidden ' : ' icon icon-tabler icon-tabler-circle-plus'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Open">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                                <line x1="12" y1="9" x2="12" y2="15" />
                            </svg>
                            <svg (click)="closeMenu()" xmlns="http://www.w3.org/2000/svg" [ngClass]="isOpenedList == '5' ? 'icon icon-tabler icon-tabler-circle-minus ' : 'hidden'" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-label="Close">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                            </svg>
                        </div>
                    </div>
                    <p [ngClass]="isOpenedList == '5' ? 'pt-2 md:pt-3 lg:pt-5 text-gray-800 bg-gray-100 text-sm md:text-base xl:text-lg rounded-b-lg ' : 'hidden'">Find the latest events updates or create events, concerts, conferences, workshops, exhibitions, and cultural events in all cities of the US. The aim of Eventistan is to promote healthy and entertaining event. Greatest appreciation to you and your team for the outstanding job you did for us. The website is just what we wanted, and we were thrilled with the speed your team exercised.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
