<div class="container mx-auto pt-16">
    <div class="mb-12 xl:w-full w-11/12 mx-auto">
        <h1 class="xl:text-5xl pt-4 xl:pt-0 text-gray-800 xl:text-left font-extrabold mb-4 text-3xl">Popular Blog Posts</h1>
        <p class="text-xl text-gray-600 xl:w-7/12 mx-auto xl:mx-0">Blogging is to writing what extreme sports are to athletics: more free-form, more accident-prone, less formal, more alive. It is, in many ways, writing out loud.</p>
    </div>
    <div class="xl:flex lg:flex sm:flex-1 md:flex flex-wrap">
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img src="https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="" class="h-full w-full object-cover overflow-hidden rounded" />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">FOOD</p>
                <p class="text-base text-gray-800 pb-2">The way I drive and handle a car, is an expression of my inner feeling.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img
                    src="https://images.unsplash.com/photo-1544476915-ed1370594142?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80
"
                    alt=""
                    class="h-full w-full object-cover overflow-hidden rounded"
                />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">GOOGLE</p>
                <p class="text-base text-gray-800 pb-2">I'm a greater believer in luck, and I find the harder I work the more I have of it.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img src="https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="" class="h-full w-full object-cover overflow-hidden rounded" />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">GALAXY</p>
                <p class="text-base text-gray-800 pb-2">Productivity is being able to do things that you were never able to do before.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img
                    src="https://images.unsplash.com/photo-1544476915-ed1370594142?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80
"
                    alt=""
                    class="h-full w-full object-cover overflow-hidden rounded"
                />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">GOOGLE</p>
                <p class="text-base text-gray-800 pb-2">The way I drive and handle a car, is an expression of my inner feeling.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img src="https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="" class="h-full w-full object-cover overflow-hidden rounded" />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">FOOD</p>
                <p class="text-base text-gray-800 pb-2">I'm a greater believer in luck, and I find the harder I work the more I have of it.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img
                    src="https://images.unsplash.com/photo-1544476915-ed1370594142?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80
"
                    alt=""
                    class="h-full w-full object-cover overflow-hidden rounded"
                />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">GOOGLE</p>
                <p class="text-base text-gray-800 pb-2">Productivity is being able to do things that you were never able to do before.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img src="https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="" class="h-full w-full object-cover overflow-hidden rounded" />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">FOOD</p>
                <p class="text-base text-gray-800 pb-2">The way I drive and handle a car, is an expression of my inner feeling.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img
                    src="https://images.unsplash.com/photo-1544476915-ed1370594142?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80
"
                    alt=""
                    class="h-full w-full object-cover overflow-hidden rounded"
                />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">GOOGLE</p>
                <p class="text-base text-gray-800 pb-2">I'm a greater believer in luck, and I find the harder I work the more I have of it.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
        <div class="lg:w-5/12 xl:w-4/12 w-11/12 mx-auto xl:mx-0 md:w-5/12 flex sm:mx-auto mb-6 items-center">
            <div class="h-32 w-2/5">
                <img src="https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="" class="h-full w-full object-cover overflow-hidden rounded" />
            </div>
            <div class="w-3/5 pt-3 pb-3 pl-5 pr-5">
                <p class="uppercase text-sm text-indigo-700 pb-2">GALAXY</p>
                <p class="text-base text-gray-800 pb-2">Productivity is being able to do things that you were never able to do before.</p>
                <p class="text-xs text-gray-600">May 13, 2019 by Allison Fox</p>
            </div>
        </div>
    </div>
</div>
