<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>component-26</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="md:w-96 rounded shadow-lg py-4 px-5 bg-white dark:bg-gray-800">
                <div class="flex items-start justify-between">
                    <div class="flex items-center mb-4 lg:mb-0 mr-10">
                        <div class="w-14 h-14 bg-cover rounded-md mr-3">
                            <img tabindex="0"  src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_5.png" alt="person" class="focus:outline-none rounded-full h-full w-full overflow-hidden shadow" />
                        </div>
                        <div>
                            <a tabindex="0" class="focus:outline-none  text-sm font-bold leading-4 text-gray-800 dark:text-gray-100">Steve Doe</a>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400 pt-2">Sales Representative</p>
                        </div>
                    </div>
                    <button aria-label="dropdown" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md cursor-pointer relative" onclick="dropdownHandler(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A1A1AA" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="5" cy="12" r="1" />
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="19" cy="12" r="1" />
                        </svg>
                        <ul class="bg-white dark:bg-gray-900 shadow rounded z-40 py-1 w-32  -ml-24 left-0 mt-8 absolute hidden top-0">
                        <li tabindex="0"  class="focus:outline-none  cursor-pointer text-gray-600 dark:dark:text-gray-100 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white focus:bg-indigo-700 focus:text-white px-3 font-normal">Landing Pages</li>
                        <li tabindex="0" class="focus:outline-none cursor-pointer text-gray-600 dark:dark:text-gray-100 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white focus:bg-indigo-700 focus:text-white px-3 font-normal">Templates</li>
                        <li tabindex="0" class="focus:outline-none cursor-pointer text-gray-600 dark:dark:text-gray-100 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white focus:bg-indigo-700 focus:text-white px-3 font-normal">Components</li>
                        </ul>
                    </button>
                </div>
                <p tabindex="0" class="focus:outline-none pt-4 text-xs leading-4 text-gray-600 dark:text-gray-100">Your Payment was successful. You can now use our services. Check the action below for more details. Thank you</p>
                <p tabindex="0" class="focus:outline-none text-xs font-medium leading-3 pt-5 text-indigo-700">CONNECTIONS</p>
                <div class="flex items-center pt-2 pb-2.5">
                    <div class="w-6 h-6 mr-1 shadow rounded-full">
                        <img alt="img-1" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80" class="w-full h-full object-cover object-center rounded-full" />
                    </div>
                    <div class="w-6 h-6 mr-1 shadow rounded-full">
                        <img alt="img-1" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80" class="w-full h-full object-cover object-center rounded-full" />
                    </div>
                    <div class="w-6 h-6 mr-1 shadow rounded-full">
                        <img alt="img-1" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80" class="w-full h-full object-cover object-center rounded-full" />
                    </div>
                    <div class="w-6 h-6 mr-1 shadow rounded-full">
                        <img alt="img-1" src="https://images.unsplash.com/photo-1513956589380-bad6acb9b9d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80" class="w-full h-full object-cover object-center rounded-full" />
                    </div>
                </div>
                <div class="flex items-end justify-end">
                    <button class="focus:opacity-90 focus:ring-offset-2 focus:ring-2 focus:ring-indigo-700 text-xs font-medium leading-3 text-white py-3 px-4 rounded bg-indigo-700 focus:outline-none hover:opacity-90">Send a message</button>
                </div>
            </div>
        </div>
        <script>
            function dropdownHandler(element) {
                let single = element.getElementsByTagName("ul")[0];
                single.classList.toggle("hidden");
            }
        </script>
        <script src="./index.js"></script>
    </body>
</html>
