<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 17</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="bg-white dark:bg-gray-800 md:w-96 rounded px-5 pt-4 pb-5 w-full shadow">
                <p tabindex="0" class="focus:outline-none text-lg font-bold leading-none text-gray-800 dark:text-gray-100">Recent Chats</p>
                <div class="mt-6 flex items-center">
                    <img tabindex="0" class="focus:outline-none w-10 h-10 rounded-full shadow" src="https://i.ibb.co/D1J3VjY/card-1.png" alt="man avatar" />
                    <div class="flex justify-between w-full">
                        <div class="ml-2">
                            <div class="flex items-center">
                                <p tabindex="0" class="focus:outline-none text-sm font-medium leading-4 text-gray-800 dark:text-gray-100">James Hart</p>
                                <div class="w-1 h-1 bg-green-500 rounded-full ml-2"></div>
                            </div>
                            <p tabindex="0" class="focus:outline-none w-48 text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">Let’s catchup sometime later?</p>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-xs leading-4 text-right text-gray-600 dark:text-gray-400">04:43 PM</p>
                    </div>
                </div>
                <div class="mt-5 flex items-center">
                    <img tabindex="0" class="focus:outline-none w-10 h-10 rounded-full shadow" src="https://i.ibb.co/cLGvfw0/card-2.png" alt="man avatar" />
                    <div class="flex justify-between w-full">
                        <div class="ml-2">
                            <p tabindex="0" class="focus:outline-none text-sm font-medium leading-4 text-gray-800 dark:text-gray-100">Ronald McDonald</p>
                            <p tabindex="0" class="focus:outline-none w-48 text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">How’d the meeting go?</p>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-xs leading-4 text-right text-gray-600 dark:text-gray-400">04:43 PM</p>
                    </div>
                </div>
                <div class="mt-5 flex items-center">
                    <img tabindex="0" class="focus:outline-none w-10 h-10 rounded-full shadow" src="https://i.ibb.co/GPkPY8S/card-3.png" alt="girl avatar" />
                    <div class="flex justify-between w-full">
                        <div class="ml-2">
                            <p tabindex="0" class="focus:outline-none text-sm font-medium leading-4 text-gray-800 dark:text-gray-100">Amanda Mathison</p>
                            <p tabindex="0" class="focus:outline-none w-48 text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">Done with the workspace setting</p>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-xs leading-4 text-right text-gray-600 dark:text-gray-400">02:30 PM</p>
                    </div>
                </div>
                <div class="mt-5 flex items-center">
                    <img tabindex="0" class="focus:outline-none w-10 h-10 rounded-full shadow" src="https://i.ibb.co/XChV95g/card-4.png" alt="boy avatar" />
                    <div class="flex justify-between w-full">
                        <div class="ml-2">
                            <div class="flex items-center">
                                <p tabindex="0" class="focus:outline-none text-sm font-medium leading-4 text-gray-800 dark:text-gray-100">Josh Cleveland</p>
                                <div class="w-1 h-1 bg-green-500 rounded-full ml-2"></div>
                            </div>
                            <p tabindex="0" class="focus:outline-none w-48 text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">Lets’s discuss in an hour</p>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-xs leading-4 text-right text-gray-600 dark:text-gray-400">01:03 PM</p>
                    </div>
                </div>
                <div class="mt-5 flex items-center">
                    <img tabindex="0" class="focus:outline-none w-10 h-10 rounded-full shadow" src="https://i.ibb.co/C2PRFyK/card-5.png" alt="man avatar" />
                    <div class="flex justify-between w-full">
                        <div class="ml-2">
                            <p tabindex="0" class="focus:outline-none text-sm font-medium leading-4 text-gray-800 dark:text-gray-100">Randall Frank</p>
                            <p tabindex="0" class="focus:outline-none w-48 text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">Client call in 10 mins, be ready</p>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-xs leading-4 text-right text-gray-600 dark:text-gray-400">09:40 AM</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
