<div class="flex items-center justify-center py-8 px-4">
    <div class="bg-white md:w-96 rounded px-5 pt-4 pb-5 w-full shadow">
        <p class="text-lg font-bold leading-none text-gray-800">Recent Chats</p>
        <div class="mt-6 flex items-center">
            <img class="w-10 h-10 rounded-full shadow" src="https://i.ibb.co/D1J3VjY/card-1.png" alt="profile" />
            <div class="flex justify-between w-full">
                <div class="ml-2">
                    <div class="flex items-center">
                        <p class="text-sm font-medium leading-4 text-gray-800">James Hart</p>
                        <div class="w-1 h-1 bg-green-500 rounded-full ml-2"></div>
                    </div>
                    <p class="w-48 text-xs leading-3 text-gray-600 mt-1">Let’s catchup sometime later?</p>
                </div>
                <p class="text-xs leading-4 text-right text-gray-600">04:43 PM</p>
            </div>
        </div>
        <div class="mt-5 flex items-center">
            <img class="w-10 h-10 rounded-full shadow" src="https://i.ibb.co/cLGvfw0/card-2.png" alt="profile" />
            <div class="flex justify-between w-full">
                <div class="ml-2">
                    <p class="text-sm font-medium leading-4 text-gray-800">Ronald McDonald</p>
                    <p class="w-48 text-xs leading-3 text-gray-600 mt-1">How’d the meeting go?</p>
                </div>
                <p class="text-xs leading-4 text-right text-gray-600">04:43 PM</p>
            </div>
        </div>
        <div class="mt-5 flex items-center">
            <img class="w-10 h-10 rounded-full shadow" src="https://i.ibb.co/GPkPY8S/card-3.png" alt="profile" />
            <div class="flex justify-between w-full">
                <div class="ml-2">
                    <p class="text-sm font-medium leading-4 text-gray-800">Amanda Mathison</p>
                    <p class="w-48 text-xs leading-3 text-gray-600 mt-1">Done with the workspace setting</p>
                </div>
                <p class="text-xs leading-4 text-right text-gray-600">02:30 PM</p>
            </div>
        </div>
        <div class="mt-5 flex items-center">
            <img class="w-10 h-10 rounded-full shadow" src="https://i.ibb.co/XChV95g/card-4.png" alt="profile" />
            <div class="flex justify-between w-full">
                <div class="ml-2">
                    <div class="flex items-center">
                        <p class="text-sm font-medium leading-4 text-gray-800">Josh Cleveland</p>
                        <div class="w-1 h-1 bg-green-500 rounded-full ml-2"></div>
                    </div>
                    <p class="w-48 text-xs leading-3 text-gray-600 mt-1">Lets’s discuss in an hour</p>
                </div>
                <p class="text-xs leading-4 text-right text-gray-600">01:03 PM</p>
            </div>
        </div>
        <div class="mt-5 flex items-center">
            <img class="w-10 h-10 rounded-full shadow" src="https://i.ibb.co/C2PRFyK/card-5.png" alt="profile" />
            <div class="flex justify-between w-full">
                <div class="ml-2">
                    <p class="text-sm font-medium leading-4 text-gray-800">Randall Frank</p>
                    <p class="w-48 text-xs leading-3 text-gray-600 mt-1">Client call in 10 mins, be ready</p>
                </div>
                <p class="text-xs leading-4 text-right text-gray-600">09:40 AM</p>
            </div>
        </div>
    </div>
</div>
