<div class="flex items-center justify-center py-8 px-4">
    <div class="md:w-96 rounded shadow-lg p-5 bg-white w-full">
        <h1 class="text-lg font-bold text-gray-800">Product Usage</h1>
        <div class="pt-5 flex items-center justify-between">
            <div class="flex items-center">
                <p class="text-sm leading-none text-gray-800">Country</p>
            </div>
            <div class="flex items-center">
                <p class="text-xs leading-3 text-right text-gray-800 pr-4 uppercase">Visits</p>
                <p class="text-xs leading-3 text-right text-gray-800 uppercase">Bounce</p>
            </div>
        </div>
        <div class="pt-5 flex items-center justify-between">
            <div class="flex items-center">
                <img alt="chine" src="https://i.ibb.co/MMQtT0G/china.png" class="w-5 h-5" />
                <p class="text-sm leading-none text-gray-800 pl-2">China</p>
            </div>
            <div class="flex items-center">
                <p class="text-xs leading-3 text-right text-gray-800 pr-10">2,500</p>
                <p class="text-xs leading-3 text-right text-gray-800">30%</p>
            </div>
        </div>
        <div class="pt-5 flex items-center justify-between">
            <div class="flex items-center">
                <img alt="greman" src="https://i.ibb.co/27c98hX/germa.png" class="w-5 h-5" />
                <p class="text-sm leading-none text-gray-800 pl-2">Geramny</p>
            </div>
            <div class="flex items-center">
                <p class="text-xs leading-3 text-right text-gray-800 pr-10">2,500</p>
                <p class="text-xs leading-3 text-right text-gray-800">30%</p>
            </div>
        </div>
        <div class="pt-5 flex items-center justify-between">
            <div class="flex items-center">
                <img alt="lebnon" src="https://i.ibb.co/hBj1rT9/lebnon.png" class="w-5 h-5" />
                <p class="text-sm leading-none text-gray-800 pl-2">Lebnon</p>
            </div>
            <div class="flex items-center">
                <p class="text-xs leading-3 text-right text-gray-800 pr-10">2,500</p>
                <p class="text-xs leading-3 text-right text-gray-800">30%</p>
            </div>
        </div>
        <div class="pt-5 flex items-center justify-between">
            <div class="flex items-center">
                <img alt="USA" src="https://i.ibb.co/YycnHbn/usa.png" class="w-5 h-5" />
                <p class="text-sm leading-none text-gray-800 pl-2">USA</p>
            </div>
            <div class="flex items-center">
                <p class="text-xs leading-3 text-right text-gray-800 pr-10">2,500</p>
                <p class="text-xs leading-3 text-right text-gray-800">30%</p>
            </div>
        </div>
    </div>
</div>
