<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />

        <title>Dropdown</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="mx-auto pt-6 pb-10">
            <div class="container flex justify-center mx-auto py-6">
                <div class="h-56 mb-56">
                    <!-- Code block starts -->
                    <dh-component>
                        <div class="relative">
                            <button aria-label="dropdown" class="focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 focus:outline-none bg-white dark:bg-gray-800 flex items-center justify-between border rounded border-gray-300 dark:border-gray-700 w-40 cursor-pointer" data-menu>
                                <p class="px-3 py-3 text-gray-600 dark:text-gray-400 text-sm leading-3 tracking-normal font-normal">Basic Options</p>
                                <div class="cursor-pointer text-gray-600 dark:text-gray-400 mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <polyline points="6 15 12 9 18 15" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden icon icon-tabler icon-tabler-chevron-up" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <polyline points="6 9 12 15 18 9" />
                                    </svg>
                                </div>
                            </button>
                            <ul class="visible transition duration-300 opacity-100 bg-white dark:bg-gray-800 shadow rounded mt-2 py-1 w-48 absolute">
                               <li>
                                   <div class="text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 font-bold text-sm leading-3 tracking-normal py-3 px-3"><h3 >Display</h3></div>
                                   <ul>
                                      <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Interface Settings</div></a></li>
                                      <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Color Theme</div></a></li>
                                      <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Wallpaper</div></a></li>
                                    </ul>
                                    <hr class="border-gray-200 dark:border-gray-700 my-1" />
                               </li>
                               <li>
                                   <div class="text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 font-bold text-sm leading-3 tracking-normal py-3 px-3"><h3 >Account</h3></div>
                                   <ul>
                                       <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Notifications</div></a></li>
                                       <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Account Data</div></a></li>
                                       <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Sign Out</div></a></li>
                                    </ul>
                                    <hr class="border-gray-200 dark:border-gray-700 my-1" />
                               </li>
                               <li>
                                   <div class="text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 font-bold text-sm leading-3 tracking-normal py-3 px-3"><h3>Alerts</h3></div>
                                   <ul>
                                       <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Notifications</div></a></li>
                                       <li> <a class="focus:underline focus:outline-none"><div class="cursor-pointer text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 text-sm leading-3 tracking-normal py-3 hover:bg-gray-100 px-3 font-normal">Delete Account</div></a></li>
                                    </ul>
                               </li>
                            </ul>
                            <script>
                                let elements = document.querySelectorAll("[data-menu]");
                                for (let i = 0; i < elements.length; i++) {
                                    let main = elements[i];
                                    main.addEventListener("click", function () {
                                        let element = main.parentElement.parentElement;
                                        let andicators = main.querySelectorAll("svg");
                                        let child = element.querySelector("ul");
                                        if (child.classList.contains("opacity-0")) {
                                            child.classList.toggle("invisible");
                                            child.classList.toggle("visible");
                                            andicators[0].style.display = "block";
                                            andicators[1].style.display = "none";
                                        } else {
                                            setTimeout(function () {
                                                child.classList.toggle("invisible");
                                                child.classList.toggle("visible");
                                            }, 300);
                                            andicators[0].style.display = "none";
                                            andicators[1].style.display = "block";
                                        }
                                        child.classList.toggle("opacity-0");
                                        child.classList.toggle("opacity-100");
                                    });
                                }
                            </script>
                            <script src="./index.js"></script>
                        </div>
                    </dh-component>
                    <!-- Code block ends -->
                </div>
            </div>
        </div>
    </body>
</html>
