<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Grid Structures</title>

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-100 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="px-6 pb-6">
            <dh-component>
                <div class="container pt-6 mx-auto">
                    <div class="flex flex-wrap">
                        <div class="w-full">
                            <!-- Remove class [ h-24 ] when adding a card block -->
                            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
                            <div class="rounded border-gray-300 dark:border-gray-700 border-dashed border-2 h-24"></div>
                        </div>
                    </div>
                </div>
            </dh-component>
        </div>
    </body>
</html>
