<div class="flex items-center justify-center py-8 px-4">
    <div class="sm:w-1/2 bg-white shadow p-6 dark:bg-gray-800">
        <div class="flex w-full justify-between items-center">
            <p class="text-lg leading-none text-right text-gray-800 dark:text-gray-100">Tickets sold</p>
            <div class="relative bg-gray-100 dark:bg-gray-700 ease-in duration-150 hover:bg-gray-200 pt-1 pb-2 px-3 rounded-sm mt-4 sm:mt-0">
                <select class="text-xs text-gray-600 dark:text-gray-400 dark:bg-gray-700 w-24 h-full bg-transparent focus:outline-none">
                    <option class="leading-none">Weekly</option>
                    <option class="leading-none">Monthly</option>
                    <option class="leading-none">Daily</option>
                </select>
            </div>
        </div>
        <div class="mt-5 w-full">
            <canvas id="check"></canvas>
        </div>
    </div>
</div>
