<div [ngClass]="'py-12 dark:bg-black bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0 ' + (modal ? 'block' : 'hidden')">
  <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg flex justify-center">
    <div class="relative md:w-80 rounded shadow-lg p-6 dark:bg-gray-800 bg-white">
      <h1 class="dark:text-gray-100 text-gray-800 font-bold text-lg">Permission required</h1>
      <p class="py-4 text-base font-medium dark:text-gray-100 text-gray-800">Oops! you dont have access!</p>
      <p class="text-sm font-medium dark:text-gray-100 text-gray-600">Request access for the file</p>
      <div class="sm:flex items-center justify-between pt-6">
        <button class="py-3.5 w-full dark:text-gray-100 text-gray-600 leading-3 focus:outline-none hover:opacity-90 text-sm font-semibold border-gray-600 rounded border focus:ring-2 focus:ring-offset-2 focus:ring-gray-600">Dismiss</button>
        <button class="py-3.5 w-full sm:mt-0 mt-2 sm:ml-2 leading-3 text-white focus:outline-none hover:opacity-90 text-sm font-semibold border rounded border-indigo-700 bg-indigo-700 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700">Request Access</button>
      </div>
      <button aria-label="close modal" class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 dark:text-gray-100 text-gray-400 hover: dark:text-gray-100 text-gray-600 transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black rounded" (click)="modalBtn()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" />
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="w-full flex justify-center py-12" id="button">
  <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mx-auto transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm" (click)="modalBtn()">Open Modal</button>
</div>
