 <div class="xl:w-3/4 2xl:w-4/5 w-full bg-white md:p-10 p-4 rounded-lg shadow">
            <div class="lg:flex justify-between w-full items-center">
                <div class="py-3 md:px-4 flex items-center bg-gray-50 rounded-xl">
                    <p class="text-xs font-medium leading-none text-center text-gray-500">Show:</p>
                    <div class="px-2 sm:px-3.5 border-r border-gray-300">
                        <p class="text-xs leading-none text-gray-800">Hour</p>
                    </div>
                    <div class="px-2 sm:px-3.5 border-r border-gray-300">
                        <p class="text-xs leading-none text-gray-800">Day</p>
                    </div>
                    <div class="px-2 sm:px-3.5 border-r border-gray-300">
                        <p class="text-xs leading-none text-gray-800">Week</p>
                    </div>
                    <div class="px-2 sm:px-3.5 border-r border-gray-300">
                        <p class="text-xs leading-none text-gray-800">Month</p>
                    </div>
                    <div class="px-2 sm:px-3.5">
                        <p class="text-xs font-bold leading-none text-indigo-700">Year</p>
                    </div>
                </div>
                <div class="flex items-center mt-4 lg:mt-0">
                    <div class="flex items-center">
                        <div class="w-4 h-4 bg-pink-300 rounded-full"></div>
                        <p class="w-20 text-xs leading-none ml-1.5">Components</p>
                    </div>
                    <div class="flex items-center ml-4">
                        <div class="w-4 h-4 bg-yellow-300 rounded-full"></div>
                        <p class="w-20 text-xs leading-none ml-1.5">Templates</p>
                    </div>
                </div>
            </div>
            <div class="mt-8">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand"><div class=""></div></div>
                    <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
                </div>
                <canvas id="line_chart" height="528" width="1760" style="display: block; height: 264px; width: 880px" class="chartjs-render-monitor"></canvas>
            </div>
        </div>