<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Alerts</title>

        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 py-12" style="font-family: 'Lato', sans-serif">
        <dh-component>
            <!-- Code block starts -->
            <div class="flex items-center justify-center px-4">
                <div  role="alert" id="alert" class="transition duration-150 ease-in-out w-full lg:w-11/12 mx-auto bg-white dark:bg-gray-800 shadow rounded flex py-4 md:py-0 flex-col items-center md:flex-row justify-between">
                    <div class="flex flex-col items-center md:flex-row">
                        <div class="mr-3 p-4 bg-blue-400 rounded md:rounded-tr-none md:rounded-br-none text-white">
                            <svg tabindex="0" aria-label="information" class="focus:outline-none" role="alert" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22" fill="currentColor">
                                <path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9a1 1 0 0 1 1 1v4a1 1 0 0 1-2 0v-4a1 1 0 0 1 1-1zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </div>
                        <p class="mr-2 text-base font-bold text-gray-800 dark:text-gray-100 mt-2 md:my-0">Attention</p>
                        <div class="h-1 w-1 bg-gray-300 dark:bg-gray-700 rounded-full mr-2 hidden xl:block"></div>
                        <p class="text-sm lg:text-base dark:text-gray-400 text-gray-600 lg:pt-1 xl:pt-0 sm:mb-0 mb-2 text-center sm:text-left">We are providing you new offers. please check your email</p>
                    </div>
                    <div class="flex xl:items-center lg:items-center sm:justify-end justify-center pr-4">
                        <button class="text-sm mr-4 font-bold focus:outline-none focus:text-indigo-400 hover:text-indigo-400 cursor-pointer text-indigo-700 dark:text-indigo-600">Details</button>
                        <button class="text-sm cursor-pointer focus:outline-none focus:text-gray-400 hover:text-gray-400  text-gray-600 dark:text-gray-400" onclick="closeAlert()">Dismiss</button>
                    </div>
                </div>
            </div>
            <!-- Code block ends -->
        </dh-component>
        <script>
            var Alert = document.getElementById("alert");
            var close = document.getElementById("close-modal");
            Alert.style.transform = "translateY(0%)";
            function closeAlert() {
                Alert.style.transform = "translateY(-200%)";
                setTimeout(function () {
                    Alert.style.transform = "translateY(0%)";
                }, 1000);
            }
        </script>
        <script src="./index.js"></script>
    </body>
</html>
